openapi: 3.0.0
info:
  title: PartnerFlow V3 API
  version: 3.0.0
  description: Versioned API for warranty and service management. Use API key or session auth.
servers:
  - url: https://api.warrantyflow.com/api/v3
    description: Production
  - url: http://localhost:3000/api/v3
    description: Development
tags:
  - name: Customers
    description: Customer management
  - name: Notes
    description: Internal notes on service records and customers
  - name: Suppliers
    description: Supplier management
  - name: Billing
    description: Estimates, invoices, and transactions
  - name: Service
    description: Service definitions
  - name: Service Records
    description: Service record instances, transitions, related records, media, invoice helpers, and customer/partner views
  - name: Shipping
    description: Shipments and logistics
  - name: Workspace
    description: Task lists and tasks
  - name: Health
    description: Health check
  - name: Users
    description: User management
  - name: Roles
    description: Roles and permissions
  - name: API Keys
    description: API key management
  - name: ViewPreferences
    description: Per-user table view preferences
  - name: Solutions
    description: Solutions
  - name: Subscriptions
    description: Subscriptions
  - name: Inventory
    description: Products and inventory
  - name: Communications
    description: Communications (email, SMS)
  - name: Email Templates
    description: Email templates
  - name: Partner
    description: Partner invitations and relationships
  - name: Sharing
    description: Partner sharing policies, service shares, record participants, access log and preview
  - name: Locations
    description: Company locations (warehouses, offices)
  - name: Retailers
    description: Shops that sold customers their items
  - name: Retailer Portal
    description: Read-only endpoints for an authenticated retailer
  - name: Audit
    description: Audit logs and activity
  - name: Company
    description: Company info and partners
  - name: Onboarding
    description: Onboarding status and progress
  - name: Subscriptions
    description: Subscription plan and status
  - name: Forms
    description: Form list and create
  - name: Documentation
    description: Service documentation nodes
  - name: Email Sender Identities
    description: Email sender identities
  - name: Profile
    description: Profile and offering/fulfillment profile IDs
  - name: Service Items
    description: Service items
  - name: Service Item Custom Fields
    description: Service item custom fields
  - name: System Automation
    description: Execute system automations (estimate, invoice, shipment, service transfer, task list)
  - name: System Email Templates
    description: SaaS-level system email templates (ADMIN only)
  - name: Auth
    description: "Authentication: login, logout, forgot-password, reset-password"
  - name: Email Unsubscribe
    description: Public, signed-link email opt-outs
  - name: Admin
    description: Admin performance and system status
  - name: Dashboard
    description: "Simple dashboard: KPIs, money, tasks, team workload, alerts, and distributions"
  - name: Analytics
    description: Analytics dashboard, company, customer, service, financial, partner, logistics, academy, statistics, and date-range reporting
  - name: Customer Portal
    description: Customer portal profile and service record data
  - name: Integrations
    description: Integration connections (e.g. Gmail, Stripe)
  - name: Webhooks
    description: Webhook handlers (e.g. Stripe)
  - name: Catalogue
    description: Items, Solutions and Options of a service; resolved customer prices
  - name: Intake
    description: Requests, intake rules and triage
  - name: HelpCentre
    description: Help centre site admin and AI wording
  - name: HelpCentrePublic
    description: "Public Help centre: catalogue, request form, verification, submission"
  - name: Support KB
    description: "Knowledge base by Solution: scopes, composition and task lists"
  - name: Parts
    description: Parts of a service (inventory products used by its options), packing rules, parts on a job
  - name: PartsOrders
    description: "Parts orders: Orders list, pack / ship / deliver / cancel / refund, partner restock"
components:
  schemas:
    Id:
      type: string
      format: uuid
    PaginationQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
        sortBy:
          type: string
        sortOrder:
          type: string
          enum: &a12
            - asc
            - desc
          default: desc
    PaginationDto:
      type: object
      properties:
        page:
          type: number
        limit:
          type: number
        total:
          type: number
        totalPages:
          type: number
      required:
        - page
        - limit
        - total
        - totalPages
    CreateCustomerInput:
      type: object
      properties:
        firstName:
          type: string
          maxLength: 50
        lastName:
          type: string
          maxLength: 50
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        status:
          type: string
        country:
          type: string
        recordImage:
          type: string
        shippingAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
            city:
              type: string
              minLength: 1
            postcode:
              type: string
              minLength: 1
            state:
              type: string
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - postcode
            - country
        billingAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
            city:
              type: string
              minLength: 1
            postcode:
              type: string
              minLength: 1
            state:
              type: string
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - postcode
            - country
        notes:
          type: string
          maxLength: 1000
    UpdateCustomerInput:
      type: object
      properties:
        firstName:
          type: string
          maxLength: 50
        lastName:
          type: string
          maxLength: 50
        email:
          type: string
          nullable: true
          format: email
        phone:
          type: string
          nullable: true
        status:
          type: string
        country:
          type: string
          nullable: true
        recordImage:
          type: string
          nullable: true
        isActive:
          type: boolean
        notes:
          type: string
          maxLength: 1000
        shippingAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
              nullable: true
            city:
              type: string
              minLength: 1
            state:
              type: string
              nullable: true
            postcode:
              type: string
              minLength: 1
            country:
              type: string
              minLength: 1
          additionalProperties: false
        billingAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
              nullable: true
            city:
              type: string
              minLength: 1
            state:
              type: string
              nullable: true
            postcode:
              type: string
              minLength: 1
            country:
              type: string
              minLength: 1
          additionalProperties: false
        user:
          type: object
          properties:
            firstName:
              type: string
              maxLength: 50
            lastName:
              type: string
              maxLength: 50
            email:
              type: string
              format: email
            phone:
              type: string
            companyId:
              type: string
    ListCustomersQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
        sortBy:
          type: string
          default: createdAt
        sortOrder:
          type: string
          enum: &a70
            - asc
            - desc
          default: desc
        search:
          type: string
        counterpartyCompanyId:
          type: string
          minLength: 1
          maxLength: 64
          description: Only what is between the caller and this company. Must be one of the caller's counterparties (GET /relationships); any other id answers an empty list.
        direction:
          type: string
          enum: &a10
            - sent
            - received
          description: "`sent` = from the caller to the counterparty (work sent, invoices issued, payments made); `received` = the reverse."
    CustomerDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
          format: email
        phone:
          type: string
          nullable: true
        status:
          type: string
        country:
          type: string
          nullable: true
        recordImage:
          type: string
          nullable: true
        billingAddressId:
          type: string
          nullable: true
          format: uuid
        shippingAddressId:
          type: string
          nullable: true
          format: uuid
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        deletedAt:
          type: string
          nullable: true
        billingAddress:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            street:
              type: string
            street2:
              type: string
              nullable: true
            city:
              type: string
            postcode:
              type: string
            state:
              type: string
              nullable: true
            country:
              type: string
            type:
              type: string
              enum: &a1
                - BILLING
                - SHIPPING
          required:
            - street
            - city
            - postcode
            - country
        shippingAddress:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            street:
              type: string
            street2:
              type: string
              nullable: true
            city:
              type: string
            postcode:
              type: string
            state:
              type: string
              nullable: true
            country:
              type: string
            type:
              type: string
              enum: *a1
          required:
            - street
            - city
            - postcode
            - country
        company:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            apiName:
              type: string
          required:
            - id
      required:
        - id
        - companyId
    CustomerListResponse:
      type: object
      properties:
        customers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              firstName:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              email:
                type: string
                nullable: true
                format: email
              phone:
                type: string
                nullable: true
              status:
                type: string
              country:
                type: string
                nullable: true
              recordImage:
                type: string
                nullable: true
              billingAddressId:
                type: string
                nullable: true
                format: uuid
              shippingAddressId:
                type: string
                nullable: true
                format: uuid
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              deletedAt:
                type: string
                nullable: true
              billingAddress:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  street:
                    type: string
                  street2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  postcode:
                    type: string
                  state:
                    type: string
                    nullable: true
                  country:
                    type: string
                  type:
                    type: string
                    enum: *a1
                required:
                  - street
                  - city
                  - postcode
                  - country
              shippingAddress:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  street:
                    type: string
                  street2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  postcode:
                    type: string
                  state:
                    type: string
                    nullable: true
                  country:
                    type: string
                  type:
                    type: string
                    enum: *a1
                required:
                  - street
                  - city
                  - postcode
                  - country
              company:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  apiName:
                    type: string
                required:
                  - id
            required:
              - id
              - companyId
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - customers
        - pagination
    CustomerImportResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the import succeeded
        data:
          type: object
          properties:
            imported:
              type: number
              description: Number of customers successfully imported
            skipped:
              type: number
              description: Number of rows skipped
            errors:
              type: array
              items:
                type: object
                properties:
                  row:
                    type: number
                    description: CSV row number
                  message:
                    type: string
                    description: Error description
                required:
                  - row
                  - message
              description: Per-row import errors
          required:
            - imported
          description: Import result details
        error:
          type: string
          description: Top-level error message
      required:
        - success
    CustomerSummary:
      type: object
      properties:
        jobs:
          type: object
          properties:
            total:
              type: integer
              description: Jobs for this customer on the company’s own services
            open:
              type: integer
              description: Jobs not in a final stage (Completed / Closed / no way out)
            lastJobAt:
              type: string
              nullable: true
              description: When the most recent job was created
          required:
            - total
            - open
            - lastJobAt
        billing:
          type: object
          nullable: true
          properties:
            billed:
              type: number
              description: Sum of issued (non-draft, non-cancelled) invoice totals
            outstanding:
              type: number
              description: Sum of what is still owed on issued invoices
            currencyCode:
              type: string
              description: Currency the figures are in (the one most of the invoices use)
            currencySymbol:
              type: string
              description: Symbol for currencyCode
            invoiceCount:
              type: integer
              description: Issued invoices counted in billed
            mixedCurrencies:
              type: boolean
              description: True when some invoices use another currency; those are left out of billed / outstanding
          required:
            - billed
            - outstanding
            - currencyCode
            - currencySymbol
            - invoiceCount
            - mixedCurrencies
          description: Null when the caller may not read invoices
        invoices:
          type: array
          nullable: true
          items:
            type: object
            properties:
              id:
                type: string
                description: Invoice id
              referenceNumber:
                type: string
                description: Invoice number, e.g. INV-2026-0006
              status:
                type: string
                description: Document status (DRAFT, SENT, PARTIALLY_PAID, PAID, …)
              totalAmount:
                type: number
                description: Gross invoice total
              amountDue:
                type: number
                description: What is still owed on this invoice (0 for drafts, paid and dead invoices)
              currencyCode:
                type: string
                nullable: true
                description: ISO currency code, e.g. GBP
              currencySymbol:
                type: string
                nullable: true
                description: Currency symbol, e.g. £
              dueDate:
                type: string
                nullable: true
                description: Payment due date
              createdAt:
                type: string
                nullable: true
                description: When the invoice was created
            required:
              - id
              - referenceNumber
              - status
              - totalAmount
              - amountDue
              - currencyCode
              - currencySymbol
              - dueDate
              - createdAt
          description: Invoices the company issued to this customer, newest first; null when the caller may not read invoices
      required:
        - jobs
        - billing
        - invoices
    CreateNoteInput:
      type: object
      properties:
        serviceRecordId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        body:
          type: string
          minLength: 1
          maxLength: 5000
        source:
          type: string
          maxLength: 50
        visibility:
          type: string
          enum: &a71
            - INTERNAL
            - PARTICIPANTS
            - RETAILER_SHARED
      required:
        - body
    ListNotesQuery:
      type: object
      properties:
        serviceRecordId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
    NoteDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        serviceRecordId:
          type: string
          nullable: true
          format: uuid
        customerId:
          type: string
          nullable: true
          format: uuid
        authorUserId:
          type: string
          nullable: true
          format: uuid
        source:
          type: string
          nullable: true
        body:
          type: string
        visibility:
          type: string
          enum: &a2
            - INTERNAL
            - PARTICIPANTS
            - RETAILER_SHARED
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        authorRetailerId:
          type: string
          nullable: true
          format: uuid
        author:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            firstName:
              type: string
              nullable: true
            lastName:
              type: string
              nullable: true
            email:
              type: string
          required:
            - id
        authorRetailer:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
          required:
            - id
            - name
        company:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
          required:
            - id
            - name
      required:
        - id
        - companyId
        - body
        - visibility
        - createdAt
        - updatedAt
    NoteAudience:
      type: object
      properties:
        viewerCompany:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
          required:
            - id
            - name
        isOwner:
          type: boolean
        sharedWith:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
            required:
              - id
              - name
      required:
        - viewerCompany
        - isOwner
        - sharedWith
    NoteListResponse:
      type: object
      properties:
        notes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              serviceRecordId:
                type: string
                nullable: true
                format: uuid
              customerId:
                type: string
                nullable: true
                format: uuid
              authorUserId:
                type: string
                nullable: true
                format: uuid
              source:
                type: string
                nullable: true
              body:
                type: string
              visibility:
                type: string
                enum: *a2
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              authorRetailerId:
                type: string
                nullable: true
                format: uuid
              author:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  firstName:
                    type: string
                    nullable: true
                  lastName:
                    type: string
                    nullable: true
                  email:
                    type: string
                required:
                  - id
              authorRetailer:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                required:
                  - id
                  - name
              company:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                required:
                  - id
                  - name
            required:
              - id
              - companyId
              - body
              - visibility
              - createdAt
              - updatedAt
        audience:
          type: object
          properties:
            viewerCompany:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
              required:
                - id
                - name
            isOwner:
              type: boolean
            sharedWith:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                required:
                  - id
                  - name
          required:
            - viewerCompany
            - isOwner
            - sharedWith
      required:
        - notes
    CustomerRecordLookupQuery:
      type: object
      properties:
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 3
    CustomerRecordLookupResponse:
      type: object
      properties:
        customer:
          type: object
          properties:
            id:
              type: string
              format: uuid
            firstName:
              type: string
              nullable: true
            lastName:
              type: string
              nullable: true
            email:
              type: string
              nullable: true
            phone:
              type: string
              nullable: true
          required:
            - id
        records:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
                nullable: true
              serviceName:
                type: string
                nullable: true
              serviceApiName:
                type: string
                nullable: true
              status:
                type: string
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              dueDate:
                type: string
                nullable: true
            required:
              - id
              - status
              - createdAt
              - updatedAt
      required:
        - customer
        - records
    LookupRecordDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        serviceName:
          type: string
          nullable: true
        serviceApiName:
          type: string
          nullable: true
        status:
          type: string
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        dueDate:
          type: string
          nullable: true
      required:
        - id
        - status
        - createdAt
        - updatedAt
    CreateSupplierInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        category:
          type: string
          enum: &a72
            - ELECTRONICS
            - MECHANICAL
            - SOFTWARE
            - SERVICES
            - OTHER
          default: OTHER
        address:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            city:
              type: string
              minLength: 1
            state:
              type: string
            zipCode:
              type: string
              minLength: 1
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - zipCode
            - country
        notes:
          type: string
          maxLength: 1000
      required:
        - name
        - email
    UpdateSupplierInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        category:
          type: string
          enum: &a3
            - ELECTRONICS
            - MECHANICAL
            - SOFTWARE
            - SERVICES
            - OTHER
        status:
          type: string
          enum: &a4
            - ACTIVE
            - INACTIVE
            - SUSPENDED
        notes:
          type: string
          maxLength: 1000
    SupplierDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        category:
          type: string
        status:
          type: string
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - name
    SupplierListResponse:
      type: object
      properties:
        suppliers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              name:
                type: string
              email:
                type: string
                nullable: true
              phone:
                type: string
                nullable: true
              category:
                type: string
              status:
                type: string
              notes:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - name
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - suppliers
        - pagination
    SupplierActivitySummaryQuery:
      type: object
      properties:
        days:
          type: integer
          minimum: 1
          maximum: 365
          default: 30
          description: Number of past days to include in the activity window.
      description: Query parameters for the supplier activity summary endpoint.
    SupplierActivitySummaryDto:
      type: object
      properties:
        newSuppliers:
          type: number
          description: Count of suppliers created within the requested window.
        suppliersWithNewProducts:
          type: number
          description: Suppliers that received new product additions.
        suppliersWithNewOrders:
          type: number
          description: Suppliers that received new orders.
        growthRate:
          type: number
          description: Percentage growth rate of suppliers compared to the previous period.
      required:
        - newSuppliers
        - suppliersWithNewProducts
        - suppliersWithNewOrders
        - growthRate
      description: Aggregated supplier activity metrics for a given time window.
    SupplierBulkUpdateInput:
      type: object
      properties:
        supplierIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of supplier IDs to update.
        data:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
            email:
              type: string
              format: email
            phone:
              type: string
              minLength: 7
              maxLength: 20
            category:
              type: string
              enum: *a3
            status:
              type: string
              enum: *a4
            notes:
              type: string
              maxLength: 1000
          description: Fields to apply to all selected suppliers.
      required:
        - supplierIds
        - data
      description: Payload for bulk-updating multiple suppliers at once.
    SupplierBulkUpdateResponse:
      type: object
      properties:
        updatedCount:
          type: number
          description: Number of supplier records that were updated.
      required:
        - updatedCount
      description: Result of a bulk supplier update operation.
    SupplierExportInput:
      type: object
      properties:
        startDate:
          type: string
          description: ISO 8601 start date filter for the export window.
        endDate:
          type: string
          description: ISO 8601 end date filter for the export window.
      description: Optional date range filters when exporting supplier data.
    SupplierProductDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Product unique identifier.
        name:
          type: string
          description: Product name.
        sku:
          type: string
          description: Stock-keeping unit code.
        price:
          type: number
          description: Unit price of the product.
        quantity:
          type: number
          description: Current stock quantity.
        supplierId:
          type: string
          description: Associated supplier ID.
        companyId:
          type: string
          description: Owning company ID.
        createdAt:
          type: string
          nullable: true
          description: Record creation timestamp.
        updatedAt:
          type: string
          nullable: true
          description: Record last-updated timestamp.
      required:
        - id
      description: Product belonging to a specific supplier.
    SupplierProductsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Product unique identifier.
              name:
                type: string
                description: Product name.
              sku:
                type: string
                description: Stock-keeping unit code.
              price:
                type: number
                description: Unit price of the product.
              quantity:
                type: number
                description: Current stock quantity.
              supplierId:
                type: string
                description: Associated supplier ID.
              companyId:
                type: string
                description: Owning company ID.
              createdAt:
                type: string
                nullable: true
                description: Record creation timestamp.
              updatedAt:
                type: string
                nullable: true
                description: Record last-updated timestamp.
            required:
              - id
            description: Product belonging to a specific supplier.
          description: List of products for the supplier.
        pagination:
          type: object
          properties:
            page:
              type: number
              description: Current page number.
            limit:
              type: number
              description: Items per page.
            total:
              type: number
              description: Total matching records.
            totalPages:
              type: number
              description: Total number of pages.
          required:
            - page
            - limit
            - total
            - totalPages
          description: Pagination metadata.
      required:
        - data
        - pagination
      description: Paginated list of products belonging to a specific supplier.
    SupplierPerformanceMetricsDto:
      type: object
      properties:
        suppliers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Supplier unique identifier.
              name:
                type: string
                description: Supplier display name.
              totalOrders:
                type: number
                description: Total number of fulfilled orders.
              totalProducts:
                type: number
                description: Total number of products from this supplier.
              averageOrderValue:
                type: number
                description: Average monetary value per order.
              performanceScore:
                type: number
                description: Calculated performance score (0-100).
            required:
              - id
              - name
              - totalOrders
              - totalProducts
              - averageOrderValue
              - performanceScore
            description: Performance metrics for a single supplier.
          description: Performance metrics for all suppliers.
        topPerformers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Supplier unique identifier.
              name:
                type: string
                description: Supplier display name.
              totalOrders:
                type: number
                description: Total number of fulfilled orders.
              totalProducts:
                type: number
                description: Total number of products from this supplier.
              averageOrderValue:
                type: number
                description: Average monetary value per order.
              performanceScore:
                type: number
                description: Calculated performance score (0-100).
            required:
              - id
              - name
              - totalOrders
              - totalProducts
              - averageOrderValue
              - performanceScore
            description: Performance metrics for a single supplier.
          description: Top-performing suppliers by score.
        averagePerformanceScore:
          type: number
          description: Average performance score across all suppliers.
      required:
        - suppliers
        - topPerformers
        - averagePerformanceScore
      description: Aggregated supplier performance metrics for a company.
    LineItemInput:
      type: object
      properties:
        type:
          type: string
          enum: &a5
            - SERVICE_ITEM
            - PRODUCT
            - SOLUTION
            - SHIPPING
            - COLLECTION
          description: Classification of the line item (service work, product, solution bundle or logistics).
        description:
          type: string
          minLength: 1
          description: Human‑readable description that appears on the invoice/transaction line.
        note:
          type: string
          description: Optional internal or customer‑visible note for this line item.
        quantity:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Number of units being billed for this item.
        unitPrice:
          type: number
          minimum: 0
          description: Price per unit before discounts and tax.
        totalPrice:
          type: number
          minimum: 0
          description: Line total after discounts but before any overall invoice adjustments.
        itemOrder:
          type: number
          description: Optional explicit ordering index; defaults to array index when omitted.
        discount:
          type: number
          minimum: 0
          description: Optional percentage discount to apply to this line (0–100).
        productId:
          type: string
          format: uuid
          description: Optional product identifier when this line represents a catalog product.
        solutionId:
          type: string
          format: uuid
          description: Optional solution identifier when this line represents a solution.
        vatRate:
          type: number
          minimum: 0
          description: Optional VAT rate in percent; used to derive vatAmount when not explicitly provided.
        vatAmount:
          type: number
          minimum: 0
          description: Optional explicit VAT amount for this line; overrides calculation from vatRate when set.
        payableByCustomer:
          type: boolean
          description: Whether this line is payable by the end‑customer (vs internal or partner charges).
        isMandatory:
          type: boolean
          description: Marks the line as mandatory when approving a transaction; mandatory items must be included in approvals.
      required:
        - type
        - description
        - quantity
        - unitPrice
        - totalPrice
      description: Single billing line item used to represent a service, product, solution, shipping or collection charge on a transaction or invoice.
    CreateEstimateInput:
      type: object
      properties:
        referenceNumber:
          type: string
          description: Optional human‑friendly reference number for the estimate.
        recipientType:
          type: string
          enum: &a6
            - CUSTOMER
            - COMPANY
          description: Whether the recipient of this estimate is a customer or another company.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company receiving this estimate.
        serviceId:
          type: string
          format: uuid
          description: Service associated with this estimate.
        serviceRecordId:
          type: string
          format: uuid
          description: Optional single service record backing this estimate.
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
          description: Due date for payment or acceptance of this estimate.
        paymentTerms:
          type: string
          description: Free‑form payment terms text (e.g. "Net 30").
        subTotal:
          type: number
          minimum: 0
          description: Subtotal amount before VAT and shipping, usually derived from line items.
        totalAmount:
          type: number
          minimum: 0
          description: Total amount including VAT and shipping for this estimate.
        vatAmount:
          type: number
          minimum: 0
          description: Total VAT amount for the estimate; can be derived or provided explicitly.
        vatRate:
          type: number
          minimum: 0
          description: Optional blended VAT rate for the estimate.
        shippingCost:
          type: number
          minimum: 0
          description: Optional explicit shipping / logistics cost for the estimate.
        notes:
          type: string
          description: Internal or customer‑visible notes for this estimate.
        termsAndConditions:
          type: string
          description: Rich text or markdown terms that accompany the estimate.
        currencyCode:
          type: string
          description: ISO currency code (e.g. GBP, EUR); defaults to company currency when omitted.
        lineItems:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: *a5
                description: Classification of the line item (service work, product, solution bundle or logistics).
              description:
                type: string
                minLength: 1
                description: Human‑readable description that appears on the invoice/transaction line.
              note:
                type: string
                description: Optional internal or customer‑visible note for this line item.
              quantity:
                type: number
                minimum: 0
                exclusiveMinimum: true
                description: Number of units being billed for this item.
              unitPrice:
                type: number
                minimum: 0
                description: Price per unit before discounts and tax.
              totalPrice:
                type: number
                minimum: 0
                description: Line total after discounts but before any overall invoice adjustments.
              itemOrder:
                type: number
                description: Optional explicit ordering index; defaults to array index when omitted.
              discount:
                type: number
                minimum: 0
                description: Optional percentage discount to apply to this line (0–100).
              productId:
                type: string
                format: uuid
                description: Optional product identifier when this line represents a catalog product.
              solutionId:
                type: string
                format: uuid
                description: Optional solution identifier when this line represents a solution.
              vatRate:
                type: number
                minimum: 0
                description: Optional VAT rate in percent; used to derive vatAmount when not explicitly provided.
              vatAmount:
                type: number
                minimum: 0
                description: Optional explicit VAT amount for this line; overrides calculation from vatRate when set.
              payableByCustomer:
                type: boolean
                description: Whether this line is payable by the end‑customer (vs internal or partner charges).
              isMandatory:
                type: boolean
                description: Marks the line as mandatory when approving a transaction; mandatory items must be included in approvals.
            required:
              - type
              - description
              - quantity
              - unitPrice
              - totalPrice
            description: Single billing line item used to represent a service, product, solution, shipping or collection charge on a transaction or invoice.
          minItems: 1
          description: One or more line items that make up the estimate.
      required:
        - recipientType
        - recipientId
        - dueDate
        - subTotal
        - totalAmount
        - lineItems
      description: Input payload for creating an estimate‑style billing document (legacy compatibility).
    CreateInvoiceInput:
      type: object
      properties:
        referenceNumber:
          type: string
          description: Optional human‑friendly reference number for the estimate.
        recipientType:
          type: string
          enum: *a6
          description: Whether the recipient of this estimate is a customer or another company.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company receiving this estimate.
        serviceId:
          type: string
          format: uuid
          description: Service associated with this estimate.
        serviceRecordId:
          type: string
          format: uuid
          description: Optional single service record backing this estimate.
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
          description: Due date for payment or acceptance of this estimate.
        paymentTerms:
          type: string
          description: Free‑form payment terms text (e.g. "Net 30").
        subTotal:
          type: number
          minimum: 0
          description: Subtotal amount before VAT and shipping, usually derived from line items.
        totalAmount:
          type: number
          minimum: 0
          description: Total amount including VAT and shipping for this estimate.
        vatAmount:
          type: number
          minimum: 0
          description: Total VAT amount for the estimate; can be derived or provided explicitly.
        vatRate:
          type: number
          minimum: 0
          description: Optional blended VAT rate for the estimate.
        shippingCost:
          type: number
          minimum: 0
          description: Optional explicit shipping / logistics cost for the estimate.
        notes:
          type: string
          description: Internal or customer‑visible notes for this estimate.
        termsAndConditions:
          type: string
          description: Rich text or markdown terms that accompany the estimate.
        currencyCode:
          type: string
          description: ISO currency code (e.g. GBP, EUR); defaults to company currency when omitted.
        lineItems:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: *a5
                description: Classification of the line item (service work, product, solution bundle or logistics).
              description:
                type: string
                minLength: 1
                description: Human‑readable description that appears on the invoice/transaction line.
              note:
                type: string
                description: Optional internal or customer‑visible note for this line item.
              quantity:
                type: number
                minimum: 0
                exclusiveMinimum: true
                description: Number of units being billed for this item.
              unitPrice:
                type: number
                minimum: 0
                description: Price per unit before discounts and tax.
              totalPrice:
                type: number
                minimum: 0
                description: Line total after discounts but before any overall invoice adjustments.
              itemOrder:
                type: number
                description: Optional explicit ordering index; defaults to array index when omitted.
              discount:
                type: number
                minimum: 0
                description: Optional percentage discount to apply to this line (0–100).
              productId:
                type: string
                format: uuid
                description: Optional product identifier when this line represents a catalog product.
              solutionId:
                type: string
                format: uuid
                description: Optional solution identifier when this line represents a solution.
              vatRate:
                type: number
                minimum: 0
                description: Optional VAT rate in percent; used to derive vatAmount when not explicitly provided.
              vatAmount:
                type: number
                minimum: 0
                description: Optional explicit VAT amount for this line; overrides calculation from vatRate when set.
              payableByCustomer:
                type: boolean
                description: Whether this line is payable by the end‑customer (vs internal or partner charges).
              isMandatory:
                type: boolean
                description: Marks the line as mandatory when approving a transaction; mandatory items must be included in approvals.
            required:
              - type
              - description
              - quantity
              - unitPrice
              - totalPrice
            description: Single billing line item used to represent a service, product, solution, shipping or collection charge on a transaction or invoice.
          minItems: 1
          description: One or more line items that make up the estimate.
        estimateId:
          type: string
          format: uuid
          description: Optional legacy estimate identifier this invoice was created from.
        serviceRecordIds:
          type: array
          items:
            type: string
            format: uuid
          description: Optional list of service record IDs for multi‑record invoices; when provided, line items may be aggregated from solutions.
        serviceRecordFields:
          type: array
          items:
            type: string
          description: Optional ordered list of service-record field API names to render as a per-record detail table on the invoice PDF. Array order is column order; omit or send an empty array for no table.
        creditLines:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
                minimum: 0
                description: Credit amount, deducted after VAT.
              note:
                type: string
                description: Optional note shown beside the credit.
            required:
              - amount
          description: Credit lines applied after VAT; each reduces the total owed.
      required:
        - recipientType
        - recipientId
        - dueDate
        - subTotal
        - totalAmount
        - lineItems
      description: Input payload for creating an invoice from line items, an estimate or multiple service records. Omit referenceNumber to take the next {PREFIX}-{YYYY}-{seq} number from the issuer sequence; a typed one must be unique for the issuer.
    SaveTransactionInput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Optional transaction identifier; when provided the existing transaction is updated.
        referenceNumber:
          type: string
          description: Optional human-friendly reference; generated server-side when omitted.
        status:
          type: string
          enum: &a7
            - DRAFT
            - PENDING
            - APPROVED
            - REJECTED
            - COMPLETED
            - CANCELLED
            - OVERDUE
            - PAID
          description: Lifecycle status of the transaction.
        recipientType:
          type: string
          enum: &a73
            - CUSTOMER
            - COMPANY
          description: Recipient type for this transaction.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company receiving this transaction.
        issuerCompanyId:
          type: string
          format: uuid
          description: Identifier of the company issuing this transaction.
        serviceId:
          type: string
          format: uuid
          description: Service associated with the transaction.
        serviceRecordId:
          type: string
          format: uuid
          description: Service record linked to this transaction when applicable.
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
          description: Due date for payment of this transaction.
        paymentTerms:
          type: string
          description: Optional payment terms text.
        subTotal:
          type: number
          minimum: 0
          description: Subtotal amount before VAT and shipping.
        totalAmount:
          type: number
          minimum: 0
          description: Total amount including VAT and shipping.
        vatAmount:
          type: number
          minimum: 0
          description: Total VAT amount.
        vatRate:
          type: number
          minimum: 0
          description: Blended VAT rate when applicable.
        shippingCost:
          type: number
          minimum: 0
          description: Optional explicit shipping/logistics amount.
        notes:
          type: string
          description: Optional internal/customer-visible notes.
        termsAndConditions:
          type: string
          description: Optional terms and conditions text.
        currencyCode:
          type: string
          description: ISO currency code, e.g. GBP or EUR.
        currencySymbol:
          type: string
          description: Display currency symbol, e.g. GBP symbol or EUR symbol.
        lineItems:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: *a5
                description: Classification of the line item (service work, product, solution bundle or logistics).
              description:
                type: string
                minLength: 1
                description: Human‑readable description that appears on the invoice/transaction line.
              note:
                type: string
                description: Optional internal or customer‑visible note for this line item.
              quantity:
                type: number
                minimum: 0
                exclusiveMinimum: true
                description: Number of units being billed for this item.
              unitPrice:
                type: number
                minimum: 0
                description: Price per unit before discounts and tax.
              totalPrice:
                type: number
                minimum: 0
                description: Line total after discounts but before any overall invoice adjustments.
              itemOrder:
                type: number
                description: Optional explicit ordering index; defaults to array index when omitted.
              discount:
                type: number
                minimum: 0
                description: Optional percentage discount to apply to this line (0–100).
              productId:
                type: string
                format: uuid
                description: Optional product identifier when this line represents a catalog product.
              solutionId:
                type: string
                format: uuid
                description: Optional solution identifier when this line represents a solution.
              vatRate:
                type: number
                minimum: 0
                description: Optional VAT rate in percent; used to derive vatAmount when not explicitly provided.
              vatAmount:
                type: number
                minimum: 0
                description: Optional explicit VAT amount for this line; overrides calculation from vatRate when set.
              payableByCustomer:
                type: boolean
                description: Whether this line is payable by the end‑customer (vs internal or partner charges).
              isMandatory:
                type: boolean
                description: Marks the line as mandatory when approving a transaction; mandatory items must be included in approvals.
              serviceRecordServiceItemId:
                type: string
                format: uuid
                description: Linked service record service item ID when relevant.
              isApproved:
                anyOf:
                  - type: boolean
                  - nullable: true
                  - nullable: true
                description: Approval flag for recipient actions; nullable when pending decision.
            required:
              - type
              - description
              - quantity
              - unitPrice
              - totalPrice
            description: Single billing line item used to represent a service, product, solution, shipping or collection charge on a transaction or invoice.
          minItems: 1
          description: One or more transaction line items.
      required:
        - recipientType
        - recipientId
        - issuerCompanyId
        - lineItems
      description: Input payload for creating/updating billing transactions.
    UpdateTransactionInput:
      type: object
      properties:
        status:
          type: string
          enum: *a7
          description: New status for the transaction, if being updated.
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
          description: Updated due date for the transaction.
        notes:
          type: string
          description: Optional updated notes for the transaction.
        termsAndConditions:
          type: string
          description: Optional updated terms and conditions text.
        paidAmount:
          type: number
          minimum: 0
          description: Optional override of the paid amount; normally derived from payments.
      description: Payload for updating selective transaction properties such as status, due date and notes.
    TransactionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the transaction.
        referenceNumber:
          type: string
          description: Human‑readable reference number for the transaction.
        status:
          type: string
          description: Current transaction status; aligns with DocumentStatus but may include legacy values.
        recipientType:
          type: string
          description: Type of recipient (CUSTOMER or COMPANY) stored with this transaction.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company being billed.
        issuerCompanyId:
          type: string
          format: uuid
          description: Company issuing this transaction.
        subTotal:
          type: number
          description: Subtotal before VAT and shipping for this transaction.
        totalAmount:
          type: number
          description: Total amount including VAT and shipping for this transaction.
        vatAmount:
          type: number
          description: Total VAT amount for this transaction.
        vatRate:
          type: number
          description: Blended VAT rate for this transaction.
        paidAmount:
          type: number
          description: Amount already paid against this transaction, if tracked.
        creditLines:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
              note:
                type: string
                nullable: true
            required:
              - amount
          description: Individual credit lines applied to this invoice after VAT.
        dueDate:
          type: string
          nullable: true
          description: Due date for payment, if any.
        paymentTerms:
          type: string
          nullable: true
          description: Free‑form payment terms text, when present.
        createdAt:
          type: string
          nullable: true
          description: Creation timestamp of the transaction.
        updatedAt:
          type: string
          nullable: true
          description: Last update timestamp of the transaction.
      required:
        - id
        - referenceNumber
        - status
        - recipientType
        - recipientId
        - issuerCompanyId
        - subTotal
        - totalAmount
        - vatAmount
        - vatRate
      description: Normalized representation of a billing transaction including core financial amounts, status and recipient information.
    BillingListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Unique identifier of the transaction.
              referenceNumber:
                type: string
                description: Human‑readable reference number for the transaction.
              status:
                type: string
                description: Current transaction status; aligns with DocumentStatus but may include legacy values.
              recipientType:
                type: string
                description: Type of recipient (CUSTOMER or COMPANY) stored with this transaction.
              recipientId:
                type: string
                format: uuid
                description: Identifier of the customer or company being billed.
              issuerCompanyId:
                type: string
                format: uuid
                description: Company issuing this transaction.
              subTotal:
                type: number
                description: Subtotal before VAT and shipping for this transaction.
              totalAmount:
                type: number
                description: Total amount including VAT and shipping for this transaction.
              vatAmount:
                type: number
                description: Total VAT amount for this transaction.
              vatRate:
                type: number
                description: Blended VAT rate for this transaction.
              paidAmount:
                type: number
                description: Amount already paid against this transaction, if tracked.
              creditLines:
                type: array
                items:
                  type: object
                  properties:
                    amount:
                      type: number
                    note:
                      type: string
                      nullable: true
                  required:
                    - amount
                description: Individual credit lines applied to this invoice after VAT.
              dueDate:
                type: string
                nullable: true
                description: Due date for payment, if any.
              paymentTerms:
                type: string
                nullable: true
                description: Free‑form payment terms text, when present.
              createdAt:
                type: string
                nullable: true
                description: Creation timestamp of the transaction.
              updatedAt:
                type: string
                nullable: true
                description: Last update timestamp of the transaction.
            required:
              - id
              - referenceNumber
              - status
              - recipientType
              - recipientId
              - issuerCompanyId
              - subTotal
              - totalAmount
              - vatAmount
              - vatRate
            description: Normalized representation of a billing transaction including core financial amounts, status and recipient information.
          description: Current page of transactions.
        pagination:
          type: object
          properties:
            page:
              type: number
              description: Current page number (1‑based).
            limit:
              type: number
              description: Maximum number of items per page.
            total:
              type: number
              description: Total number of matching transactions.
            totalPages:
              type: number
              description: Total number of pages given the current limit.
          required:
            - page
            - limit
            - total
            - totalPages
          description: Pagination metadata for the transaction list.
      required:
        - data
        - pagination
      description: Standard paginated response wrapper for billing transactions.
    BillingStatsQuery:
      type: object
      properties:
        type:
          type: string
          enum: &a75
            - estimate
            - invoice
            - purchase-order
          description: "Which billing document type to aggregate statistics for: 'estimate' (transactions behaving as quotes), 'invoice' or 'purchase-order'."
        status:
          type: string
          description: Optional status filter to restrict documents included in the stats.
        dateFrom:
          type: string
          format: date-time
          description: Optional ISO date string; only include documents created on or after this date.
        dateTo:
          type: string
          format: date-time
          description: Optional ISO date string; only include documents created on or before this date.
      required:
        - type
      description: Query parameters accepted by the billing statistics endpoint.
    BillingStats:
      type: object
      properties:
        totalCount:
          type: number
          description: Total number of matching billing documents.
        totalAmount:
          type: number
          description: Total billed amount across all matching documents.
        paidAmount:
          type: number
          description: Total amount that has been paid across all matching documents (where applicable).
        unpaidAmount:
          type: number
          description: Total outstanding amount (totalAmount minus paidAmount) across all matching documents.
        uniqueCustomers:
          type: number
          description: Number of distinct customers or suppliers represented in the result set.
      required:
        - totalCount
        - totalAmount
        - paidAmount
        - unpaidAmount
        - uniqueCustomers
      description: Aggregated statistics for billing documents of a particular type and filter set.
    BillingRangeQuery:
      type: object
      properties:
        days:
          type: integer
          minimum: 1
          maximum: 365
          description: Optional number of days to look back from today; defaults to 30 when omitted.
      description: Time range window used by billing performance metrics and activity summary endpoints.
    BillingPerformanceMetrics:
      type: object
      properties:
        totalInvoices:
          type: number
          description: Total number of invoices issued in the period.
        paidInvoices:
          type: number
          description: Number of invoices that have been fully paid in the period.
        totalBilled:
          type: number
          description: Total billed amount (sum of invoice totals) in the period, regardless of payment status.
        totalPaid:
          type: number
          description: Total amount received from paid invoices in the period.
        paymentRate:
          type: number
          description: Percentage of invoices in the period that have been paid (paidInvoices / totalInvoices * 100).
        overdueInvoices:
          type: number
          description: Number of invoices that are currently overdue at the time of calculation.
        collectionRate:
          type: number
          description: Percentage of billed amount that has been collected (totalPaid / totalBilled * 100, safe‑guarded against division by zero).
      required:
        - totalInvoices
        - paidInvoices
        - totalBilled
        - totalPaid
        - paymentRate
        - overdueInvoices
        - collectionRate
      description: High‑level invoice performance metrics for the company over a configurable period.
    BillingActivitySummary:
      type: object
      properties:
        totalInvoices:
          type: number
          description: Total number of invoices ever issued by the company.
        draftInvoices:
          type: number
          description: Number of invoices currently in DRAFT status.
        sentInvoices:
          type: number
          description: Number of invoices currently in SENT status.
        paidInvoices:
          type: number
          description: Number of invoices currently in PAID status.
        overdueInvoices:
          type: number
          description: Number of invoices currently overdue.
        newInvoices:
          type: number
          description: Number of invoices created within the requested time window.
        paidRate:
          type: number
          description: Percentage of invoices that are paid (paidInvoices / totalInvoices * 100).
        overdueRate:
          type: number
          description: Percentage of invoices that are overdue (overdueInvoices / totalInvoices * 100).
      required:
        - totalInvoices
        - draftInvoices
        - sentInvoices
        - paidInvoices
        - overdueInvoices
        - newInvoices
        - paidRate
        - overdueRate
      description: Summary of invoice activity (counts and rates) for the company over a configurable period.
    BillingDocumentsQuery:
      type: object
      properties:
        status:
          type: string
          description: Optional status filter applied to estimates/invoices in the result.
        dateFrom:
          type: string
          format: date-time
          description: Optional ISO date string; only include documents created on or after this date.
        dateTo:
          type: string
          format: date-time
          description: Optional ISO date string; only include documents created on or before this date.
      description: Optional filters applied when listing billing documents by recipient, service or service record.
    BillingPayment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique payment identifier.
        invoiceId:
          type: string
          format: uuid
          description: Invoice ID this payment is associated with, if any.
        transactionId:
          type: string
          format: uuid
          description: Transaction ID this payment is associated with, if any.
        amount:
          type: number
          description: Payment amount in the invoice currency.
        status:
          type: string
          description: Payment status (e.g. 'PENDING', 'COMPLETED', provider‑specific statuses, etc.).
        method:
          type: string
          description: Optional human‑readable payment method or provider label.
        createdAt:
          type: string
          nullable: true
          description: Timestamp when the payment record was created.
        updatedAt:
          type: string
          nullable: true
          description: Timestamp when the payment record was last updated.
        externalReference:
          type: string
          description: Optional external gateway reference or provider transaction ID.
      required:
        - id
        - amount
        - status
        - createdAt
      description: Single payment made against an invoice or transaction in the billing system.
    BillingPaymentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Unique payment identifier.
              invoiceId:
                type: string
                format: uuid
                description: Invoice ID this payment is associated with, if any.
              transactionId:
                type: string
                format: uuid
                description: Transaction ID this payment is associated with, if any.
              amount:
                type: number
                description: Payment amount in the invoice currency.
              status:
                type: string
                description: Payment status (e.g. 'PENDING', 'COMPLETED', provider‑specific statuses, etc.).
              method:
                type: string
                description: Optional human‑readable payment method or provider label.
              createdAt:
                type: string
                nullable: true
                description: Timestamp when the payment record was created.
              updatedAt:
                type: string
                nullable: true
                description: Timestamp when the payment record was last updated.
              externalReference:
                type: string
                description: Optional external gateway reference or provider transaction ID.
            required:
              - id
              - amount
              - status
              - createdAt
            description: Single payment made against an invoice or transaction in the billing system.
          description: List of payments for the given invoice or transaction.
      required:
        - data
      description: Non‑paginated list response containing payments associated with a billing document.
    RequestPaymentInput:
      type: object
      properties:
        amount:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Amount to request; defaults to the full outstanding balance. Must be 0 < amount ≤ outstanding.
      description: Input for requesting a customer payment against a transaction.
    PaymentRequestDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique payment request identifier.
        amount:
          type: number
          description: Requested amount in the transaction currency.
        currencySymbol:
          type: string
          description: Currency symbol for display (e.g. £).
        customerEmail:
          type: string
          description: Email address the request was sent to.
        status:
          type: string
          enum: &a8
            - PENDING
            - PAID
            - CANCELLED
            - EXPIRED
          description: Lifecycle status of the request.
        createdAt:
          type: string
          nullable: true
          description: When the request was created.
        paidAt:
          type: string
          nullable: true
          description: When the request was paid, if it has been.
      required:
        - id
        - amount
        - currencySymbol
        - customerEmail
        - status
        - createdAt
        - paidAt
      description: A request for a customer to pay an outstanding transaction balance via a Stripe link.
    TransactionPaymentRequestsDto:
      type: object
      properties:
        requests:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Unique payment request identifier.
              amount:
                type: number
                description: Requested amount in the transaction currency.
              currencySymbol:
                type: string
                description: Currency symbol for display (e.g. £).
              customerEmail:
                type: string
                description: Email address the request was sent to.
              status:
                type: string
                enum: *a8
                description: Lifecycle status of the request.
              createdAt:
                type: string
                nullable: true
                description: When the request was created.
              paidAt:
                type: string
                nullable: true
                description: When the request was paid, if it has been.
            required:
              - id
              - amount
              - currencySymbol
              - customerEmail
              - status
              - createdAt
              - paidAt
            description: A request for a customer to pay an outstanding transaction balance via a Stripe link.
          description: Existing payment requests for the transaction, newest first.
        stripeConnected:
          type: boolean
          description: Whether the tenant has connected Stripe (button is otherwise disabled).
        customerEmail:
          type: string
          nullable: true
          description: The resolved customer email (from the transaction recipient or linked service record customer), independent of payability; null only when the customer genuinely has no email on file.
        requestable:
          type: boolean
          description: Whether a payment can be requested right now — the single source of truth for the button state.
        reason:
          type: string
          nullable: true
          enum: &a74
            - NOT_APPROVED
            - NOTHING_DUE
            - STRIPE_NOT_CONNECTED
            - NO_EMAIL
            - NOT_AVAILABLE
          description: Why a payment cannot be requested, or null when requestable. Drives the disabled tooltip.
      required:
        - requests
        - stripeConnected
        - customerEmail
        - requestable
        - reason
      description: Payment requests + request-button eligibility for a transaction.
    AggregatedSolutionsPreviewInput:
      type: object
      properties:
        serviceRecordIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of service record IDs whose solutions should be aggregated.
        serviceId:
          type: string
          format: uuid
          description: Service identifier that the service records belong to.
      required:
        - serviceRecordIds
        - serviceId
      description: Payload used to generate a preview of aggregated solution line items from multiple service records.
    SavePaymentMethodInput:
      type: object
      properties:
        paymentMethodId:
          type: string
          minLength: 1
          description: Stripe or provider payment method identifier.
        type:
          type: string
          minLength: 1
          description: Payment method type (e.g. card, bank_account).
        last4:
          type: string
          description: Last four digits of the card or account number.
        brand:
          type: string
          description: Card brand (e.g. Visa, Mastercard).
        isDefault:
          type: boolean
          description: Whether this should be set as the default payment method.
      required:
        - paymentMethodId
        - type
      description: Payload used to save a new payment method for the company.
    DeletePaymentMethodInput:
      type: object
      properties:
        paymentMethodId:
          type: string
          minLength: 1
          description: Identifier of the payment method to delete.
      required:
        - paymentMethodId
      description: Payload used to delete an existing payment method.
    ValidateRecipientInput:
      type: object
      properties:
        recipientType:
          type: string
          enum:
            - CUSTOMER
            - COMPANY
          description: Whether the recipient is a customer or another company.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company to validate.
      required:
        - recipientType
        - recipientId
      description: Payload used to validate that a billing recipient exists and is accessible.
    CreateServiceInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        companyId:
          type: string
          format: uuid
        status:
          type: string
          enum: &a76
            - ACTIVE
            - INACTIVE
          default: ACTIVE
        flow:
          nullable: true
        properties:
          type: object
          additionalProperties:
            nullable: true
        fields:
          type: array
          items:
            nullable: true
        apiName:
          type: string
        tableName:
          type: string
      required:
        - name
    UpdateServiceInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        status:
          type: string
          enum: &a77
            - ACTIVE
            - INACTIVE
        flow:
          nullable: true
        properties:
          type: object
          additionalProperties:
            nullable: true
        fields:
          type: array
          items:
            nullable: true
    ValidationType:
      type: string
      enum:
        - none
        - required
        - email
        - phone
        - number
        - min_length
        - max_length
        - regex
        - pattern
        - equals
        - not_equals
        - notEquals
        - contains
        - not_contains
        - greater_than
        - greaterThan
        - less_than
        - lessThan
        - media_min_count
        - media_min_photos
      description: Validation operator
    ValidationRule:
      type: object
      properties:
        operator:
          $ref: "#/components/schemas/ValidationType"
        value:
          type: string
          description: Comparison value; for media operators this is the minimum count
        message:
          type: string
          description: Message shown when the rule fails
      required:
        - operator
        - value
        - message
      description: A single field validation rule
    Criteria:
      type: object
      properties:
        id:
          type: number
        fieldId:
          type: string
        enabled:
          type: boolean
        validationRule:
          $ref: "#/components/schemas/ValidationRule"
      required:
        - id
        - fieldId
        - enabled
      description: A transition criteria rule
    MandatoryField:
      type: object
      properties:
        id:
          type: number
        fieldId:
          type: string
        enabled:
          type: boolean
        validationRule:
          $ref: "#/components/schemas/ValidationRule"
      required:
        - id
        - fieldId
        - enabled
      description: A mandatory-field rule on a transition
    WebhookConfig:
      type: object
      properties:
        url:
          type: string
        method:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
        body:
          type: object
          additionalProperties:
            nullable: true
      required:
        - url
        - method
        - headers
        - body
    IntegrationConfig:
      type: object
      properties:
        workflowId:
          type: string
        name:
          type: string
        requiredFields:
          type: object
          additionalProperties:
            nullable: true
        credentialId:
          type: string
        credentialLabel:
          type: string
        requiredCredential:
          type: array
          items:
            type: object
            properties:
              CredentialProvider:
                type: string
            required:
              - CredentialProvider
        credentialsByProvider:
          type: object
          additionalProperties:
            type: object
            properties:
              credentialId:
                type: string
              credentialLabel:
                type: string
            required:
              - credentialId
              - credentialLabel
        includeFullContext:
          type: boolean
      required:
        - workflowId
        - name
        - requiredFields
    FieldMappingType:
      type: string
      enum:
        - hardcoded
        - dynamic
        - user-defined
    FieldMapping:
      type: object
      properties:
        sourceField:
          type: string
        targetField:
          type: string
        mappingType:
          $ref: "#/components/schemas/FieldMappingType"
        hardcodedValue:
          nullable: true
        askUser:
          type: boolean
        targetFieldName:
          type: string
        targetFieldType:
          type: string
        options:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
              label:
                type: string
            required:
              - value
              - label
      required:
        - targetField
        - mappingType
    ServiceTransferAutomationConfig:
      type: object
      properties:
        targetServiceId:
          type: string
        fieldMappings:
          type: array
          items:
            $ref: "#/components/schemas/FieldMapping"
      required:
        - targetServiceId
        - fieldMappings
    SystemAutomationConfig:
      type: object
      properties:
        automationId:
          type: string
      required:
        - automationId
    TaskListAutomationConfig:
      type: object
      properties:
        automationId:
          type: string
        taskListId:
          type: string
      required:
        - automationId
        - taskListId
    SendEmailAutomationConfig:
      type: object
      properties:
        automationId:
          type: string
        templateId:
          type: string
        senderIdentityId:
          type: string
        toType:
          type: string
          enum:
            - customer
            - custom
            - internal
            - specified
        toFieldPath:
          type: string
        toEmail:
          type: string
      required:
        - automationId
        - templateId
        - toType
    Automation:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
            - webhook
            - integration
            - system
        enabled:
          type: boolean
        config:
          anyOf:
            - $ref: "#/components/schemas/WebhookConfig"
            - $ref: "#/components/schemas/IntegrationConfig"
            - $ref: "#/components/schemas/ServiceTransferAutomationConfig"
            - $ref: "#/components/schemas/SystemAutomationConfig"
            - $ref: "#/components/schemas/TaskListAutomationConfig"
            - $ref: "#/components/schemas/SendEmailAutomationConfig"
      required:
        - id
        - name
        - type
        - enabled
        - config
      description: A transition automation
    NotificationAudienceConfig:
      anyOf:
        - type: object
          properties:
            type:
              type: string
              enum:
                - customer
          required:
            - type
        - type: object
          properties:
            type:
              type: string
              enum:
                - assigned_user
          required:
            - type
        - type: object
          properties:
            type:
              type: string
              enum:
                - company
          required:
            - type
        - type: object
          properties:
            type:
              type: string
              enum:
                - specified_user
            userId:
              type: string
          required:
            - type
            - userId
        - type: object
          properties:
            type:
              type: string
              enum:
                - specified_email
            email:
              type: string
          required:
            - type
            - email
        - type: object
          properties:
            type:
              type: string
              enum:
                - field_path
            fieldPath:
              type: string
          required:
            - type
            - fieldPath
        - type: object
          properties:
            type:
              type: string
              enum:
                - retailer
          required:
            - type
      description: Who a notification is sent to
    NotificationRule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        enabled:
          type: boolean
        audience:
          $ref: "#/components/schemas/NotificationAudienceConfig"
        channels:
          type: object
          properties:
            web:
              type: object
              properties:
                enabled:
                  type: boolean
                titleTemplate:
                  type: string
                subtitleTemplate:
                  type: string
              required:
                - enabled
            mobile:
              type: object
              properties:
                enabled:
                  type: boolean
                titleTemplate:
                  type: string
                bodyTemplate:
                  type: string
              required:
                - enabled
            email:
              type: object
              properties:
                enabled:
                  type: boolean
                templateId:
                  type: string
                senderIdentityId:
                  type: string
              required:
                - enabled
                - templateId
            slack:
              type: object
              properties:
                enabled:
                  type: boolean
                target:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - channel
                        - user
                    channelId:
                      type: string
                    channelName:
                      type: string
                    userId:
                      type: string
                    userName:
                      type: string
                  required:
                    - type
                messageTemplate:
                  type: string
              required:
                - enabled
                - target
      required:
        - id
        - name
        - enabled
        - audience
        - channels
      description: A transition-configurable notification rule
    EdgeData:
      type: object
      properties:
        criteria:
          type: array
          items:
            $ref: "#/components/schemas/Criteria"
        mandatoryFields:
          type: array
          items:
            $ref: "#/components/schemas/MandatoryField"
        automations:
          type: array
          items:
            $ref: "#/components/schemas/Automation"
        notifications:
          type: array
          items:
            $ref: "#/components/schemas/NotificationRule"
      description: Configuration payload stored on a flow transition (edge)
    FlowDefinition:
      type: object
      properties:
        nodes:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
            required:
              - id
        edges:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              source:
                type: string
              target:
                type: string
              label:
                type: string
              data:
                $ref: "#/components/schemas/EdgeData"
            required:
              - id
              - source
              - target
      description: Service workflow graph (nodes + edges)
    ServiceProperties:
      type: object
      properties:
        serviceUsage:
          type: string
          enum:
            - internal
            - third-party
            - both
        customer:
          type: object
          properties:
[...]
