openapi: 3.0.0
info:
  title: WarrantyFlow V3 API
  version: 3.0.0
  description: Versioned API for warranty and service management. Use API key or session auth.
servers:
  - url: https://api.warrantyflow.com/api/v3
    description: Production
  - url: http://localhost:3000/api/v3
    description: Development
tags:
  - name: Customers
    description: Customer management
  - name: Suppliers
    description: Supplier management
  - name: Billing
    description: Estimates, invoices, and transactions
  - name: Service
    description: Service definitions
  - name: Service Records
    description: Service record instances, transitions, related records, media, invoice helpers, and customer/partner views
  - name: Shipping
    description: Shipments and logistics
  - name: Workspace
    description: Task lists and tasks
  - name: Health
    description: Health check
  - name: Users
    description: User management
  - name: Roles
    description: Roles and permissions
  - name: API Keys
    description: API key management
  - name: Dashboard
    description: Dashboards
  - name: Solutions
    description: Solutions
  - name: Subscriptions
    description: Subscriptions
  - name: Inventory
    description: Products and inventory
  - name: Communications
    description: Communications (email, SMS)
  - name: Email Templates
    description: Email templates
  - name: Partner
    description: Partner invitations and relationships
  - name: Locations
    description: Company locations (warehouses, offices)
  - name: Audit
    description: Audit logs and activity
  - name: Company
    description: Company info and partners
  - name: Contracts
    description: Contract list, generate, sign, upload, download
  - name: Onboarding
    description: Onboarding status and progress
  - name: Subscriptions
    description: Subscription plan and status
  - name: Forms
    description: Form list and create
  - name: Documentation
    description: Service documentation nodes
  - name: Email Sender Identities
    description: Email sender identities
  - name: Profile
    description: Profile and offering/fulfillment profile IDs
  - name: Service Items
    description: Service items
  - name: Service Item Custom Fields
    description: Service item custom fields
  - name: System Automation
    description: Execute system automations (estimate, invoice, shipment, service transfer, task list)
  - name: System Email Templates
    description: SaaS-level system email templates (ADMIN only)
  - name: AI
    description: AI analysis and contract text generation
  - name: Auth
    description: "Authentication: login, logout, forgot-password, reset-password"
  - name: Admin
    description: Admin performance and system status
  - name: Analytics
    description: Analytics dashboard, company, customer, service, financial, partner, logistics, academy, statistics, and date-range reporting
  - name: Customer Portal
    description: Customer portal profile and service record data
  - name: Integrations
    description: Integration connections (e.g. Gmail, Stripe)
  - name: Webhooks
    description: Webhook handlers (e.g. Stripe)
components:
  schemas:
    Id:
      type: string
      format: uuid
    PaginationQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
        sortBy:
          type: string
        sortOrder:
          type: string
          enum: &a8
            - asc
            - desc
          default: desc
    PaginationDto:
      type: object
      properties:
        page:
          type: number
        limit:
          type: number
        total:
          type: number
        totalPages:
          type: number
      required:
        - page
        - limit
        - total
        - totalPages
    CreateCustomerInput:
      type: object
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 50
        lastName:
          type: string
          minLength: 1
          maxLength: 50
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        shippingAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
            city:
              type: string
              minLength: 1
            postcode:
              type: string
              minLength: 1
            state:
              type: string
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - postcode
            - country
        billingAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
            city:
              type: string
              minLength: 1
            postcode:
              type: string
              minLength: 1
            state:
              type: string
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - postcode
            - country
        notes:
          type: string
          maxLength: 1000
      required:
        - firstName
        - lastName
    UpdateCustomerInput:
      anyOf:
        - type: object
          properties:
            user:
              type: object
              properties:
                firstName:
                  type: string
                  minLength: 1
                  maxLength: 50
                lastName:
                  type: string
                  minLength: 1
                  maxLength: 50
                email:
                  type: string
                  format: email
                phone:
                  type: string
                  minLength: 7
                  maxLength: 20
              additionalProperties: false
            shippingAddress:
              type: object
              properties:
                street:
                  type: string
                  minLength: 1
                street2:
                  type: string
                  nullable: true
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  nullable: true
                postcode:
                  type: string
                  minLength: 1
                country:
                  type: string
                  minLength: 1
              additionalProperties: false
            billingAddress:
              type: object
              properties:
                street:
                  type: string
                  minLength: 1
                street2:
                  type: string
                  nullable: true
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  nullable: true
                postcode:
                  type: string
                  minLength: 1
                country:
                  type: string
                  minLength: 1
              additionalProperties: false
            isActive:
              type: boolean
            notes:
              type: string
              maxLength: 1000
          additionalProperties: false
        - type: object
          properties:
            firstName:
              type: string
              minLength: 1
              maxLength: 50
            lastName:
              type: string
              minLength: 1
              maxLength: 50
            email:
              type: string
              format: email
            phone:
              type: string
              minLength: 7
              maxLength: 20
            isActive:
              type: boolean
            notes:
              type: string
              maxLength: 1000
          additionalProperties: false
    ListCustomersQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
        sortBy:
          type: string
          default: createdAt
        sortOrder:
          type: string
          enum: &a22
            - asc
            - desc
          default: desc
        search:
          type: string
    CustomerDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        userId:
          type: string
          nullable: true
          format: uuid
        billingAddressId:
          type: string
          nullable: true
          format: uuid
        shippingAddressId:
          type: string
          nullable: true
          format: uuid
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        user:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            firstName:
              type: string
              nullable: true
            lastName:
              type: string
              nullable: true
            email:
              type: string
              nullable: true
              format: email
            phone:
              type: string
              nullable: true
            role:
              type: string
            recordImage:
              type: string
              nullable: true
            status:
              type: string
            createdAt:
              type: string
              nullable: true
            updatedAt:
              type: string
              nullable: true
          required:
            - id
            - firstName
            - lastName
            - email
            - phone
            - role
            - status
        billingAddress:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            street:
              type: string
            street2:
              type: string
              nullable: true
            city:
              type: string
            postcode:
              type: string
            state:
              type: string
              nullable: true
            country:
              type: string
            type:
              type: string
              enum: &a1
                - BILLING
                - SHIPPING
          required:
            - street
            - city
            - postcode
            - country
        shippingAddress:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            street:
              type: string
            street2:
              type: string
              nullable: true
            city:
              type: string
            postcode:
              type: string
            state:
              type: string
              nullable: true
            country:
              type: string
            type:
              type: string
              enum: *a1
          required:
            - street
            - city
            - postcode
            - country
        company:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            apiName:
              type: string
          required:
            - id
      required:
        - id
        - companyId
    CustomerListResponse:
      type: object
      properties:
        customers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              userId:
                type: string
                nullable: true
                format: uuid
              billingAddressId:
                type: string
                nullable: true
                format: uuid
              shippingAddressId:
                type: string
                nullable: true
                format: uuid
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              user:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  firstName:
                    type: string
                    nullable: true
                  lastName:
                    type: string
                    nullable: true
                  email:
                    type: string
                    nullable: true
                    format: email
                  phone:
                    type: string
                    nullable: true
                  role:
                    type: string
                  recordImage:
                    type: string
                    nullable: true
                  status:
                    type: string
                  createdAt:
                    type: string
                    nullable: true
                  updatedAt:
                    type: string
                    nullable: true
                required:
                  - id
                  - firstName
                  - lastName
                  - email
                  - phone
                  - role
                  - status
              billingAddress:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  street:
                    type: string
                  street2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  postcode:
                    type: string
                  state:
                    type: string
                    nullable: true
                  country:
                    type: string
                  type:
                    type: string
                    enum: *a1
                required:
                  - street
                  - city
                  - postcode
                  - country
              shippingAddress:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  street:
                    type: string
                  street2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  postcode:
                    type: string
                  state:
                    type: string
                    nullable: true
                  country:
                    type: string
                  type:
                    type: string
                    enum: *a1
                required:
                  - street
                  - city
                  - postcode
                  - country
              company:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  apiName:
                    type: string
                required:
                  - id
            required:
              - id
              - companyId
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - customers
        - pagination
    CustomerImportResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the import succeeded
        data:
          type: object
          properties:
            imported:
              type: number
              description: Number of customers successfully imported
            skipped:
              type: number
              description: Number of rows skipped
            errors:
              type: array
              items:
                type: object
                properties:
                  row:
                    type: number
                    description: CSV row number
                  message:
                    type: string
                    description: Error description
                required:
                  - row
                  - message
              description: Per-row import errors
          required:
            - imported
          description: Import result details
        error:
          type: string
          description: Top-level error message
      required:
        - success
    CreateSupplierInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        category:
          type: string
          enum: &a23
            - ELECTRONICS
            - MECHANICAL
            - SOFTWARE
            - SERVICES
            - OTHER
          default: OTHER
        address:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            city:
              type: string
              minLength: 1
            state:
              type: string
            zipCode:
              type: string
              minLength: 1
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - zipCode
            - country
        notes:
          type: string
          maxLength: 1000
      required:
        - name
        - email
    UpdateSupplierInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        category:
          type: string
          enum: &a2
            - ELECTRONICS
            - MECHANICAL
            - SOFTWARE
            - SERVICES
            - OTHER
        status:
          type: string
          enum: &a3
            - ACTIVE
            - INACTIVE
            - SUSPENDED
        notes:
          type: string
          maxLength: 1000
    SupplierDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        category:
          type: string
        status:
          type: string
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - name
    SupplierListResponse:
      type: object
      properties:
        suppliers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              name:
                type: string
              email:
                type: string
                nullable: true
              phone:
                type: string
                nullable: true
              category:
                type: string
              status:
                type: string
              notes:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - name
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - suppliers
        - pagination
    SupplierActivitySummaryQuery:
      type: object
      properties:
        days:
          type: integer
          minimum: 1
          maximum: 365
          default: 30
          description: Number of past days to include in the activity window.
      description: Query parameters for the supplier activity summary endpoint.
    SupplierActivitySummaryDto:
      type: object
      properties:
        newSuppliers:
          type: number
          description: Count of suppliers created within the requested window.
        suppliersWithNewProducts:
          type: number
          description: Suppliers that received new product additions.
        suppliersWithNewOrders:
          type: number
          description: Suppliers that received new orders.
        growthRate:
          type: number
          description: Percentage growth rate of suppliers compared to the previous period.
      required:
        - newSuppliers
        - suppliersWithNewProducts
        - suppliersWithNewOrders
        - growthRate
      description: Aggregated supplier activity metrics for a given time window.
    SupplierBulkUpdateInput:
      type: object
      properties:
        supplierIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of supplier IDs to update.
        data:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 100
            email:
              type: string
              format: email
            phone:
              type: string
              minLength: 7
              maxLength: 20
            category:
              type: string
              enum: *a2
            status:
              type: string
              enum: *a3
            notes:
              type: string
              maxLength: 1000
          description: Fields to apply to all selected suppliers.
      required:
        - supplierIds
        - data
      description: Payload for bulk-updating multiple suppliers at once.
    SupplierBulkUpdateResponse:
      type: object
      properties:
        updatedCount:
          type: number
          description: Number of supplier records that were updated.
      required:
        - updatedCount
      description: Result of a bulk supplier update operation.
    SupplierExportInput:
      type: object
      properties:
        startDate:
          type: string
          description: ISO 8601 start date filter for the export window.
        endDate:
          type: string
          description: ISO 8601 end date filter for the export window.
      description: Optional date range filters when exporting supplier data.
    SupplierExportResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            format: uuid
            description: Supplier unique identifier.
          name:
            type: string
            description: Supplier display name.
          email:
            type: string
            nullable: true
            description: Supplier contact email.
          phone:
            type: string
            nullable: true
            description: Supplier contact phone number.
          productCount:
            type: number
            description: Total number of products associated with this supplier.
          orderCount:
            type: number
            description: Total number of orders placed with this supplier.
          totalOrderValue:
            type: number
            description: Cumulative monetary value of all orders.
          createdAt:
            type: string
            nullable: true
            description: Date when the supplier record was created.
          updatedAt:
            type: string
            nullable: true
            description: Date when the supplier record was last modified.
        required:
          - id
          - name
          - email
          - phone
          - productCount
          - orderCount
          - totalOrderValue
          - createdAt
          - updatedAt
        description: Single row of exported supplier data with aggregated order and product counts.
      description: Array of supplier export rows.
    SupplierProductDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Product unique identifier.
        name:
          type: string
          description: Product name.
        sku:
          type: string
          description: Stock-keeping unit code.
        price:
          type: number
          description: Unit price of the product.
        quantity:
          type: number
          description: Current stock quantity.
        supplierId:
          type: string
          description: Associated supplier ID.
        companyId:
          type: string
          description: Owning company ID.
        createdAt:
          type: string
          nullable: true
          description: Record creation timestamp.
        updatedAt:
          type: string
          nullable: true
          description: Record last-updated timestamp.
      required:
        - id
      description: Product belonging to a specific supplier.
    SupplierProductsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Product unique identifier.
              name:
                type: string
                description: Product name.
              sku:
                type: string
                description: Stock-keeping unit code.
              price:
                type: number
                description: Unit price of the product.
              quantity:
                type: number
                description: Current stock quantity.
              supplierId:
                type: string
                description: Associated supplier ID.
              companyId:
                type: string
                description: Owning company ID.
              createdAt:
                type: string
                nullable: true
                description: Record creation timestamp.
              updatedAt:
                type: string
                nullable: true
                description: Record last-updated timestamp.
            required:
              - id
            description: Product belonging to a specific supplier.
          description: List of products for the supplier.
        pagination:
          type: object
          properties:
            page:
              type: number
              description: Current page number.
            limit:
              type: number
              description: Items per page.
            total:
              type: number
              description: Total matching records.
            totalPages:
              type: number
              description: Total number of pages.
          required:
            - page
            - limit
            - total
            - totalPages
          description: Pagination metadata.
      required:
        - data
        - pagination
      description: Paginated list of products belonging to a specific supplier.
    SupplierPerformanceMetricsDto:
      type: object
      properties:
        suppliers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Supplier unique identifier.
              name:
                type: string
                description: Supplier display name.
              totalOrders:
                type: number
                description: Total number of fulfilled orders.
              totalProducts:
                type: number
                description: Total number of products from this supplier.
              averageOrderValue:
                type: number
                description: Average monetary value per order.
              performanceScore:
                type: number
                description: Calculated performance score (0-100).
            required:
              - id
              - name
              - totalOrders
              - totalProducts
              - averageOrderValue
              - performanceScore
            description: Performance metrics for a single supplier.
          description: Performance metrics for all suppliers.
        topPerformers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Supplier unique identifier.
              name:
                type: string
                description: Supplier display name.
              totalOrders:
                type: number
                description: Total number of fulfilled orders.
              totalProducts:
                type: number
                description: Total number of products from this supplier.
              averageOrderValue:
                type: number
                description: Average monetary value per order.
              performanceScore:
                type: number
                description: Calculated performance score (0-100).
            required:
              - id
              - name
              - totalOrders
              - totalProducts
              - averageOrderValue
              - performanceScore
            description: Performance metrics for a single supplier.
          description: Top-performing suppliers by score.
        averagePerformanceScore:
          type: number
          description: Average performance score across all suppliers.
      required:
        - suppliers
        - topPerformers
        - averagePerformanceScore
      description: Aggregated supplier performance metrics for a company.
    LineItemInput:
      type: object
      properties:
        type:
          type: string
          enum: &a4
            - SERVICE_ITEM
            - PRODUCT
            - SOLUTION
            - SHIPPING
            - COLLECTION
          description: Classification of the line item (service work, product, solution bundle or logistics).
        description:
          type: string
          minLength: 1
          description: Human‑readable description that appears on the invoice/transaction line.
        note:
          type: string
          description: Optional internal or customer‑visible note for this line item.
        quantity:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Number of units being billed for this item.
        unitPrice:
          type: number
          minimum: 0
          description: Price per unit before discounts and tax.
        totalPrice:
          type: number
          minimum: 0
          description: Line total after discounts but before any overall invoice adjustments.
        itemOrder:
          type: number
          description: Optional explicit ordering index; defaults to array index when omitted.
        discount:
          type: number
          minimum: 0
          description: Optional percentage discount to apply to this line (0–100).
        productId:
          type: string
          format: uuid
          description: Optional product identifier when this line represents a catalog product.
        solutionId:
          type: string
          format: uuid
          description: Optional solution identifier when this line represents a solution.
        vatRate:
          type: number
          minimum: 0
          description: Optional VAT rate in percent; used to derive vatAmount when not explicitly provided.
        vatAmount:
          type: number
          minimum: 0
          description: Optional explicit VAT amount for this line; overrides calculation from vatRate when set.
        payableByCustomer:
          type: boolean
          description: Whether this line is payable by the end‑customer (vs internal or partner charges).
        isMandatory:
          type: boolean
          description: Marks the line as mandatory when approving a transaction; mandatory items must be included in approvals.
      required:
        - type
        - description
        - quantity
        - unitPrice
        - totalPrice
      description: Single billing line item used to represent a service, product, solution, shipping or collection charge on a transaction or invoice.
    CreateEstimateInput:
      type: object
      properties:
        referenceNumber:
          type: string
          description: Optional human‑friendly reference number for the estimate.
        recipientType:
          type: string
          enum: &a5
            - CUSTOMER
            - COMPANY
          description: Whether the recipient of this estimate is a customer or another company.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company receiving this estimate.
        serviceId:
          type: string
          format: uuid
          description: Service associated with this estimate.
        serviceRecordId:
          type: string
          format: uuid
          description: Optional single service record backing this estimate.
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
          description: Due date for payment or acceptance of this estimate.
        paymentTerms:
          type: string
          description: Free‑form payment terms text (e.g. "Net 30").
        subTotal:
          type: number
          minimum: 0
          description: Subtotal amount before VAT and shipping, usually derived from line items.
        totalAmount:
          type: number
          minimum: 0
          description: Total amount including VAT and shipping for this estimate.
        vatAmount:
          type: number
          minimum: 0
          description: Total VAT amount for the estimate; can be derived or provided explicitly.
        vatRate:
          type: number
          minimum: 0
          description: Optional blended VAT rate for the estimate.
        shippingCost:
          type: number
          minimum: 0
          description: Optional explicit shipping / logistics cost for the estimate.
        notes:
          type: string
          description: Internal or customer‑visible notes for this estimate.
        termsAndConditions:
          type: string
          description: Rich text or markdown terms that accompany the estimate.
        currencyCode:
          type: string
          description: ISO currency code (e.g. GBP, EUR); defaults to company currency when omitted.
        lineItems:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: *a4
                description: Classification of the line item (service work, product, solution bundle or logistics).
              description:
                type: string
                minLength: 1
                description: Human‑readable description that appears on the invoice/transaction line.
              note:
                type: string
                description: Optional internal or customer‑visible note for this line item.
              quantity:
                type: number
                minimum: 0
                exclusiveMinimum: true
                description: Number of units being billed for this item.
              unitPrice:
                type: number
                minimum: 0
                description: Price per unit before discounts and tax.
              totalPrice:
                type: number
                minimum: 0
                description: Line total after discounts but before any overall invoice adjustments.
              itemOrder:
                type: number
                description: Optional explicit ordering index; defaults to array index when omitted.
              discount:
                type: number
                minimum: 0
                description: Optional percentage discount to apply to this line (0–100).
              productId:
                type: string
                format: uuid
                description: Optional product identifier when this line represents a catalog product.
              solutionId:
                type: string
                format: uuid
                description: Optional solution identifier when this line represents a solution.
              vatRate:
                type: number
                minimum: 0
                description: Optional VAT rate in percent; used to derive vatAmount when not explicitly provided.
              vatAmount:
                type: number
                minimum: 0
                description: Optional explicit VAT amount for this line; overrides calculation from vatRate when set.
              payableByCustomer:
                type: boolean
                description: Whether this line is payable by the end‑customer (vs internal or partner charges).
              isMandatory:
                type: boolean
                description: Marks the line as mandatory when approving a transaction; mandatory items must be included in approvals.
            required:
              - type
              - description
              - quantity
              - unitPrice
              - totalPrice
            description: Single billing line item used to represent a service, product, solution, shipping or collection charge on a transaction or invoice.
          minItems: 1
          description: One or more line items that make up the estimate.
      required:
        - recipientType
        - recipientId
        - dueDate
        - subTotal
        - totalAmount
        - lineItems
      description: Input payload for creating an estimate‑style billing document (legacy compatibility).
    CreateInvoiceInput:
      type: object
      properties:
        referenceNumber:
          type: string
          description: Optional human‑friendly reference number for the estimate.
        recipientType:
          type: string
          enum: *a5
          description: Whether the recipient of this estimate is a customer or another company.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company receiving this estimate.
        serviceId:
          type: string
          format: uuid
          description: Service associated with this estimate.
        serviceRecordId:
          type: string
          format: uuid
          description: Optional single service record backing this estimate.
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
          description: Due date for payment or acceptance of this estimate.
        paymentTerms:
          type: string
          description: Free‑form payment terms text (e.g. "Net 30").
        subTotal:
          type: number
          minimum: 0
          description: Subtotal amount before VAT and shipping, usually derived from line items.
        totalAmount:
          type: number
          minimum: 0
          description: Total amount including VAT and shipping for this estimate.
        vatAmount:
          type: number
          minimum: 0
          description: Total VAT amount for the estimate; can be derived or provided explicitly.
        vatRate:
          type: number
          minimum: 0
          description: Optional blended VAT rate for the estimate.
        shippingCost:
          type: number
          minimum: 0
          description: Optional explicit shipping / logistics cost for the estimate.
        notes:
          type: string
          description: Internal or customer‑visible notes for this estimate.
        termsAndConditions:
          type: string
          description: Rich text or markdown terms that accompany the estimate.
        currencyCode:
          type: string
          description: ISO currency code (e.g. GBP, EUR); defaults to company currency when omitted.
        lineItems:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: *a4
                description: Classification of the line item (service work, product, solution bundle or logistics).
              description:
                type: string
                minLength: 1
                description: Human‑readable description that appears on the invoice/transaction line.
              note:
                type: string
                description: Optional internal or customer‑visible note for this line item.
              quantity:
                type: number
                minimum: 0
                exclusiveMinimum: true
                description: Number of units being billed for this item.
              unitPrice:
                type: number
                minimum: 0
                description: Price per unit before discounts and tax.
              totalPrice:
                type: number
                minimum: 0
                description: Line total after discounts but before any overall invoice adjustments.
              itemOrder:
                type: number
                description: Optional explicit ordering index; defaults to array index when omitted.
              discount:
                type: number
                minimum: 0
                description: Optional percentage discount to apply to this line (0–100).
              productId:
                type: string
                format: uuid
                description: Optional product identifier when this line represents a catalog product.
              solutionId:
                type: string
                format: uuid
                description: Optional solution identifier when this line represents a solution.
              vatRate:
                type: number
                minimum: 0
                description: Optional VAT rate in percent; used to derive vatAmount when not explicitly provided.
              vatAmount:
                type: number
                minimum: 0
                description: Optional explicit VAT amount for this line; overrides calculation from vatRate when set.
              payableByCustomer:
                type: boolean
                description: Whether this line is payable by the end‑customer (vs internal or partner charges).
              isMandatory:
                type: boolean
                description: Marks the line as mandatory when approving a transaction; mandatory items must be included in approvals.
            required:
              - type
              - description
              - quantity
              - unitPrice
              - totalPrice
            description: Single billing line item used to represent a service, product, solution, shipping or collection charge on a transaction or invoice.
          minItems: 1
          description: One or more line items that make up the estimate.
        estimateId:
          type: string
          format: uuid
          description: Optional legacy estimate identifier this invoice was created from.
        serviceRecordIds:
          type: array
          items:
            type: string
            format: uuid
          description: Optional list of service record IDs for multi‑record invoices; when provided, line items may be aggregated from solutions.
      required:
        - recipientType
        - recipientId
        - dueDate
        - subTotal
        - totalAmount
        - lineItems
      description: Input payload for creating an invoice from line items, an estimate or multiple service records.
    UpdateTransactionInput:
      type: object
      properties:
        status:
          type: string
          enum: &a24
            - DRAFT
            - PENDING
            - APPROVED
            - REJECTED
            - COMPLETED
            - CANCELLED
            - OVERDUE
            - PAID
          description: New status for the transaction, if being updated.
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
          description: Updated due date for the transaction.
        notes:
          type: string
          description: Optional updated notes for the transaction.
        termsAndConditions:
          type: string
          description: Optional updated terms and conditions text.
        paidAmount:
          type: number
          minimum: 0
          description: Optional override of the paid amount; normally derived from payments.
      description: Payload for updating selective transaction properties such as status, due date and notes.
    TransactionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier of the transaction.
        referenceNumber:
          type: string
          description: Human‑readable reference number for the transaction.
        status:
          type: string
          description: Current transaction status; aligns with DocumentStatus but may include legacy values.
        recipientType:
          type: string
          description: Type of recipient (CUSTOMER or COMPANY) stored with this transaction.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company being billed.
        issuerCompanyId:
          type: string
          format: uuid
          description: Company issuing this transaction.
        subTotal:
          type: number
          description: Subtotal before VAT and shipping for this transaction.
        totalAmount:
          type: number
          description: Total amount including VAT and shipping for this transaction.
        vatAmount:
          type: number
          description: Total VAT amount for this transaction.
        vatRate:
          type: number
          description: Blended VAT rate for this transaction.
        paidAmount:
          type: number
          description: Amount already paid against this transaction, if tracked.
        dueDate:
          type: string
          nullable: true
          description: Due date for payment, if any.
        paymentTerms:
          type: string
          nullable: true
          description: Free‑form payment terms text, when present.
        createdAt:
          type: string
          nullable: true
          description: Creation timestamp of the transaction.
        updatedAt:
          type: string
          nullable: true
          description: Last update timestamp of the transaction.
      required:
        - id
        - referenceNumber
        - status
        - recipientType
        - recipientId
        - issuerCompanyId
        - subTotal
        - totalAmount
        - vatAmount
        - vatRate
      description: Normalized representation of a billing transaction including core financial amounts, status and recipient information.
    BillingListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Unique identifier of the transaction.
              referenceNumber:
                type: string
                description: Human‑readable reference number for the transaction.
              status:
                type: string
                description: Current transaction status; aligns with DocumentStatus but may include legacy values.
              recipientType:
                type: string
                description: Type of recipient (CUSTOMER or COMPANY) stored with this transaction.
              recipientId:
                type: string
                format: uuid
                description: Identifier of the customer or company being billed.
              issuerCompanyId:
                type: string
                format: uuid
                description: Company issuing this transaction.
              subTotal:
                type: number
                description: Subtotal before VAT and shipping for this transaction.
              totalAmount:
                type: number
                description: Total amount including VAT and shipping for this transaction.
              vatAmount:
                type: number
                description: Total VAT amount for this transaction.
              vatRate:
                type: number
                description: Blended VAT rate for this transaction.
              paidAmount:
                type: number
                description: Amount already paid against this transaction, if tracked.
              dueDate:
                type: string
                nullable: true
                description: Due date for payment, if any.
              paymentTerms:
                type: string
                nullable: true
                description: Free‑form payment terms text, when present.
              createdAt:
                type: string
                nullable: true
                description: Creation timestamp of the transaction.
              updatedAt:
                type: string
                nullable: true
                description: Last update timestamp of the transaction.
            required:
              - id
              - referenceNumber
              - status
              - recipientType
              - recipientId
              - issuerCompanyId
              - subTotal
              - totalAmount
              - vatAmount
              - vatRate
            description: Normalized representation of a billing transaction including core financial amounts, status and recipient information.
          description: Current page of transactions.
        pagination:
          type: object
          properties:
            page:
              type: number
              description: Current page number (1‑based).
            limit:
              type: number
              description: Maximum number of items per page.
            total:
              type: number
              description: Total number of matching transactions.
            totalPages:
              type: number
              description: Total number of pages given the current limit.
          required:
            - page
            - limit
            - total
            - totalPages
          description: Pagination metadata for the transaction list.
      required:
        - data
        - pagination
      description: Standard paginated response wrapper for billing transactions.
    BillingStatsQuery:
      type: object
      properties:
        type:
          type: string
          enum: &a25
            - estimate
            - invoice
            - purchase-order
          description: "Which billing document type to aggregate statistics for: 'estimate' (transactions behaving as quotes), 'invoice' or 'purchase-order'."
        status:
          type: string
          description: Optional status filter to restrict documents included in the stats.
        dateFrom:
          type: string
          format: date-time
          description: Optional ISO date string; only include documents created on or after this date.
        dateTo:
          type: string
          format: date-time
          description: Optional ISO date string; only include documents created on or before this date.
      required:
        - type
      description: Query parameters accepted by the billing statistics endpoint.
    BillingStats:
      type: object
      properties:
        totalCount:
          type: number
          description: Total number of matching billing documents.
        totalAmount:
          type: number
          description: Total billed amount across all matching documents.
        paidAmount:
          type: number
          description: Total amount that has been paid across all matching documents (where applicable).
        unpaidAmount:
          type: number
          description: Total outstanding amount (totalAmount minus paidAmount) across all matching documents.
        uniqueCustomers:
          type: number
          description: Number of distinct customers or suppliers represented in the result set.
      required:
        - totalCount
        - totalAmount
        - paidAmount
        - unpaidAmount
        - uniqueCustomers
      description: Aggregated statistics for billing documents of a particular type and filter set.
    BillingRangeQuery:
      type: object
      properties:
        days:
          type: integer
          minimum: 1
          maximum: 365
          description: Optional number of days to look back from today; defaults to 30 when omitted.
      description: Time range window used by billing performance metrics and activity summary endpoints.
    BillingPerformanceMetrics:
      type: object
      properties:
        totalInvoices:
          type: number
          description: Total number of invoices issued in the period.
        paidInvoices:
          type: number
          description: Number of invoices that have been fully paid in the period.
        totalBilled:
          type: number
          description: Total billed amount (sum of invoice totals) in the period, regardless of payment status.
        totalPaid:
          type: number
          description: Total amount received from paid invoices in the period.
        paymentRate:
          type: number
          description: Percentage of invoices in the period that have been paid (paidInvoices / totalInvoices * 100).
        overdueInvoices:
          type: number
          description: Number of invoices that are currently overdue at the time of calculation.
        collectionRate:
          type: number
          description: Percentage of billed amount that has been collected (totalPaid / totalBilled * 100, safe‑guarded against division by zero).
      required:
        - totalInvoices
        - paidInvoices
        - totalBilled
        - totalPaid
        - paymentRate
        - overdueInvoices
        - collectionRate
      description: High‑level invoice performance metrics for the company over a configurable period.
    BillingActivitySummary:
      type: object
      properties:
        totalInvoices:
          type: number
          description: Total number of invoices ever issued by the company.
        draftInvoices:
          type: number
          description: Number of invoices currently in DRAFT status.
        sentInvoices:
          type: number
          description: Number of invoices currently in SENT status.
        paidInvoices:
          type: number
          description: Number of invoices currently in PAID status.
        overdueInvoices:
          type: number
          description: Number of invoices currently overdue.
        newInvoices:
          type: number
          description: Number of invoices created within the requested time window.
        paidRate:
          type: number
          description: Percentage of invoices that are paid (paidInvoices / totalInvoices * 100).
        overdueRate:
          type: number
          description: Percentage of invoices that are overdue (overdueInvoices / totalInvoices * 100).
      required:
        - totalInvoices
        - draftInvoices
        - sentInvoices
        - paidInvoices
        - overdueInvoices
        - newInvoices
        - paidRate
        - overdueRate
      description: Summary of invoice activity (counts and rates) for the company over a configurable period.
    BillingDocumentsQuery:
      type: object
      properties:
        status:
          type: string
          description: Optional status filter applied to estimates/invoices in the result.
        dateFrom:
          type: string
          format: date-time
          description: Optional ISO date string; only include documents created on or after this date.
        dateTo:
          type: string
          format: date-time
          description: Optional ISO date string; only include documents created on or before this date.
      description: Optional filters applied when listing billing documents by recipient, service or service record.
    BillingPayment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique payment identifier.
        invoiceId:
          type: string
          format: uuid
          description: Invoice ID this payment is associated with, if any.
        transactionId:
          type: string
          format: uuid
          description: Transaction ID this payment is associated with, if any.
        amount:
          type: number
          description: Payment amount in the invoice currency.
        status:
          type: string
          description: Payment status (e.g. 'PENDING', 'COMPLETED', provider‑specific statuses, etc.).
        method:
          type: string
          description: Optional human‑readable payment method or provider label.
        createdAt:
          type: string
          nullable: true
          description: Timestamp when the payment record was created.
        updatedAt:
          type: string
          nullable: true
          description: Timestamp when the payment record was last updated.
        externalReference:
          type: string
          description: Optional external gateway reference or provider transaction ID.
      required:
        - id
        - amount
        - status
        - createdAt
      description: Single payment made against an invoice or transaction in the billing system.
    BillingPaymentListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Unique payment identifier.
              invoiceId:
                type: string
                format: uuid
                description: Invoice ID this payment is associated with, if any.
              transactionId:
                type: string
                format: uuid
                description: Transaction ID this payment is associated with, if any.
              amount:
                type: number
                description: Payment amount in the invoice currency.
              status:
                type: string
                description: Payment status (e.g. 'PENDING', 'COMPLETED', provider‑specific statuses, etc.).
              method:
                type: string
                description: Optional human‑readable payment method or provider label.
              createdAt:
                type: string
                nullable: true
                description: Timestamp when the payment record was created.
              updatedAt:
                type: string
                nullable: true
                description: Timestamp when the payment record was last updated.
              externalReference:
                type: string
                description: Optional external gateway reference or provider transaction ID.
            required:
              - id
              - amount
              - status
              - createdAt
            description: Single payment made against an invoice or transaction in the billing system.
          description: List of payments for the given invoice or transaction.
      required:
        - data
      description: Non‑paginated list response containing payments associated with a billing document.
    AggregatedSolutionsPreviewInput:
      type: object
      properties:
        serviceRecordIds:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
          description: List of service record IDs whose solutions should be aggregated.
        serviceId:
          type: string
          format: uuid
          description: Service identifier that the service records belong to.
      required:
        - serviceRecordIds
        - serviceId
      description: Payload used to generate a preview of aggregated solution line items from multiple service records.
    SendEstimateEmailInput:
      type: object
      properties:
        estimateId:
          type: string
          minLength: 1
          description: Identifier of the estimate to send by email.
        recipientEmail:
          type: string
          format: email
          description: Email address of the recipient.
        message:
          type: string
          description: Optional custom message to include in the email.
      required:
        - estimateId
        - recipientEmail
      description: Payload used to send an estimate by email to a specified recipient.
    SavePaymentMethodInput:
      type: object
      properties:
        paymentMethodId:
          type: string
          minLength: 1
          description: Stripe or provider payment method identifier.
        type:
          type: string
          minLength: 1
          description: Payment method type (e.g. card, bank_account).
        last4:
          type: string
          description: Last four digits of the card or account number.
        brand:
          type: string
          description: Card brand (e.g. Visa, Mastercard).
        isDefault:
          type: boolean
          description: Whether this should be set as the default payment method.
      required:
        - paymentMethodId
        - type
      description: Payload used to save a new payment method for the company.
    DeletePaymentMethodInput:
      type: object
      properties:
        paymentMethodId:
          type: string
          minLength: 1
          description: Identifier of the payment method to delete.
      required:
        - paymentMethodId
      description: Payload used to delete an existing payment method.
    ValidateRecipientInput:
      type: object
      properties:
        recipientType:
          type: string
          enum: &a26
            - CUSTOMER
            - COMPANY
          description: Whether the recipient is a customer or another company.
        recipientId:
          type: string
          format: uuid
          description: Identifier of the customer or company to validate.
      required:
        - recipientType
        - recipientId
      description: Payload used to validate that a billing recipient exists and is accessible.
    CreateServiceInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        companyId:
          type: string
          format: uuid
        status:
          type: string
          enum: &a27
            - ACTIVE
            - INACTIVE
          default: ACTIVE
        flow:
          nullable: true
        properties:
          type: object
          additionalProperties:
            nullable: true
        fields:
          type: array
          items:
            nullable: true
        apiName:
          type: string
        tableName:
          type: string
      required:
        - name
    UpdateServiceInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        status:
          type: string
          enum: &a28
            - ACTIVE
            - INACTIVE
        flow:
          nullable: true
        properties:
          type: object
          additionalProperties:
            nullable: true
        fields:
          type: array
          items:
            nullable: true
    ServiceDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        apiName:
          type: string
          nullable: true
        tableName:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - name
        - status
    ServiceListResponse:
      type: object
      properties:
        services:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              name:
                type: string
              description:
                type: string
                nullable: true
              status:
                type: string
              apiName:
                type: string
                nullable: true
              tableName:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - name
              - status
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - services
        - pagination
    ServiceStatusUpdate:
      type: object
      properties:
        status:
          type: string
          enum: &a29
            - ACTIVE
            - INACTIVE
            - PENDING
          description: New service status
      required:
        - status
    ServiceBulkStatus:
      type: object
      properties:
        serviceIds:
          type: array
          items:
            type: string
          minItems: 1
          description: Array of service IDs to update
        status:
          type: string
          enum: &a30
            - ACTIVE
            - INACTIVE
            - PENDING
          description: Target status for all services
      required:
        - serviceIds
        - status
    ServicePricingUpdate:
      type: object
      properties:
        price:
          type: number
          description: Service base price
        currency:
          type: string
          description: Currency code (e.g. USD)
        billingCycle:
          type: string
          description: Billing cycle (e.g. monthly, yearly)
        additionalPricing:
          type: object
          additionalProperties:
            nullable: true
          description: Additional pricing configuration
    AddSystemStage:
      type: object
      properties:
        serviceApiName:
          type: string
          minLength: 1
          description: Service API name
        nodeId:
          type: string
          minLength: 1
          description: Flow node ID for the stage
        systemKind:
          type: string
          minLength: 1
          description: System stage kind identifier
        label:
          type: string
          description: Optional display label
      required:
        - serviceApiName
        - nodeId
        - systemKind
    LinkSystemStage:
      type: object
      properties:
        serviceApiName:
          type: string
          minLength: 1
          description: Service API name
        edgeId:
          type: string
          minLength: 1
          description: Flow edge ID
        fromStageId:
          type: string
          minLength: 1
          description: Source stage node ID
        toStageId:
          type: string
          minLength: 1
          description: Target stage node ID
        systemKind:
          type: string
          minLength: 1
          description: System stage kind identifier
        label:
          type: string
          description: Optional display label
      required:
        - serviceApiName
        - edgeId
        - fromStageId
        - toStageId
        - systemKind
    ServiceVersionBody:
      type: object
      properties:
        companyApiName:
          type: string
          minLength: 1
          description: Company API name
        serviceApiName:
          type: string
          minLength: 1
          description: Service API name
        versionData:
          type: object
          additionalProperties:
            nullable: true
          description: Version payload data
      required:
        - companyApiName
        - serviceApiName
    ServiceDeleteVersion:
      type: object
      properties:
        companyApiName:
          type: string
          minLength: 1
          description: Company API name
        serviceApiName:
          type: string
          minLength: 1
          description: Service API name
      required:
        - companyApiName
        - serviceApiName
    ContractPropertiesUpdate:
      type: object
      properties:
        companyApiName:
          type: string
          minLength: 1
          description: Company API name
        serviceApiName:
          type: string
          minLength: 1
          description: Service API name
        contractData:
          type: object
          additionalProperties:
            nullable: true
          description: Contract property data
      required:
        - companyApiName
        - serviceApiName
    ServiceSharePartner:
      type: object
      properties:
        companyApiName:
          type: string
          minLength: 1
          description: Company API name
        serviceApiName:
          type: string
          minLength: 1
          description: Service API name
        partnerId:
          type: string
          minLength: 1
          description: Partner company ID
      required:
        - companyApiName
        - serviceApiName
        - partnerId
    ServiceRemoveShare:
      type: object
      properties:
        companyApiName:
          type: string
          minLength: 1
          description: Company API name
        serviceApiName:
          type: string
          minLength: 1
          description: Service API name
        partnerId:
          type: string
          minLength: 1
          description: Partner company ID to remove sharing from
      required:
        - companyApiName
        - serviceApiName
        - partnerId
    ServiceRestore:
      type: object
      properties:
        serviceId:
          type: string
          minLength: 1
          description: ID of the deleted service to restore
      required:
        - serviceId
    ServiceRevalidate:
      type: object
      properties:
        companyApiName:
          type: string
          minLength: 1
          description: Company API name
        serviceName:
          type: string
          minLength: 1
          description: Service API name to revalidate
      required:
        - companyApiName
        - serviceName
    ServiceRecordTransition:
      type: object
      properties:
        transitionId:
          type: string
          minLength: 1
          description: Transition / edge ID to execute
        formData:
          type: object
          additionalProperties:
            nullable: true
          description: Form data for the transition
      required:
        - transitionId
    ServiceExportFilter:
      type: object
      properties:
        status:
          type: string
          description: Filter by service status
        isInternal:
          type: boolean
          description: Filter by internal flag
    ServiceSearchPost:
      type: object
      properties:
        filters:
          type: object
          properties:
            search:
              type: string
              description: Free-text search term
            type:
              type: string
              description: Filter by service type
            status:
              type: string
              description: Filter by status
            partnerId:
              type: string
              description: Filter by partner ID
            hasContracts:
              type: boolean
              description: Has contracts flag
            hasInvoices:
              type: boolean
              description: Has invoices flag
          description: Search filter criteria
        page:
          type: number
          minimum: 1
          description: Page number
        limit:
          type: number
          minimum: 1
          maximum: 100
          description: Items per page
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Indicates success
        data:
          nullable: true
          description: Response payload
      required:
        - success
    BulkStatusResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Indicates success
        data:
          type: object
          properties:
            updatedCount:
              type: number
              description: Number of services updated
          required:
            - updatedCount
          description: Bulk update result
      required:
        - success
        - data
    PaginatedServiceResponse:
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
          description: Indicates success
        data:
          type: array
          items:
            nullable: true
          description: Array of service records
        pagination:
          type: object
          properties:
            page:
              type: number
              description: Current page
            limit:
              type: number
              description: Items per page
            total:
              type: number
              description: Total matching records
          required:
            - page
            - limit
            - total
          description: Pagination metadata
      required:
        - success
        - data
        - pagination
    ListServiceRecordsQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
          description: Page number (1-based) for pagination
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
          description: Maximum number of service records to return per page
        sortBy:
          type: string
          default: createdAt
          description: Field to sort by, e.g. createdAt or updatedAt
        sortOrder:
          type: string
          enum: &a31
            - asc
            - desc
          default: desc
          description: Sort direction for the list
        serviceId:
          type: string
          format: uuid
          description: Optional service ID to filter records by service
        customerId:
          type: string
          format: uuid
          description: Optional customer ID to filter records by customer
        status:
          type: string
          description: Optional status filter (e.g. DRAFT, IN_PROGRESS, COMPLETED)
        search:
          type: string
          description: Optional free-text search across key record fields
      description: Query parameters for GET /business/service-records (paginated list).
    ServiceRecordDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Service record ID
        serviceId:
          type: string
          format: uuid
          description: Service ID that owns this record
        customerId:
          type: string
          nullable: true
          format: uuid
          description: Customer ID associated with the record, if any
        status:
          type: string
          description: Current status of the service record
        data:
          type: object
          additionalProperties:
            nullable: true
          description: Optional dynamic payload keyed by service-specific field API names
        createdAt:
          type: string
          nullable: true
          description: When the record was created
        updatedAt:
          type: string
          nullable: true
          description: When the record was last updated
      required:
        - id
        - serviceId
        - status
      description: Normalized service-record DTO used by v3 list/detail endpoints.
    ServiceRecordListResponse:
      type: object
      properties:
        serviceRecords:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: Service record ID
              serviceId:
                type: string
                format: uuid
                description: Service ID that owns this record
              customerId:
                type: string
                nullable: true
                format: uuid
                description: Customer ID associated with the record, if any
              status:
                type: string
                description: Current status of the service record
              data:
                type: object
                additionalProperties:
                  nullable: true
                description: Optional dynamic payload keyed by service-specific field API names
              createdAt:
                type: string
                nullable: true
                description: When the record was created
              updatedAt:
                type: string
                nullable: true
                description: When the record was last updated
            required:
              - id
              - serviceId
              - status
            description: Normalized service-record DTO used by v3 list/detail endpoints.
          description: Service records matching the current page and filters
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
          description: Pagination metadata for the result set
      required:
        - serviceRecords
        - pagination
      description: Paginated list of normalized service records.
    ServiceRecordFlatDto:
      type: object
      additionalProperties:
        nullable: true
      description: Flattened service record coming from the EAV model. Includes core fields (id, status, etc.) and dynamic keys for service-specific fields. Shape may vary by service and evolve over time.
    ServiceRecordTransitionInput:
      type: object
      properties:
        recordId:
          type: string
          format: uuid
          description: Service record ID to transition
        transitionId:
          type: string
          format: uuid
          description: Configured transition ID within the service flow
        formData:
          type: object
          additionalProperties:
            nullable: true
          description: Optional structured form data collected for this transition (field API name → value)
      required:
        - recordId
        - transitionId
      description: Request body for POST /business/service-records/transition.
    ServiceRecordTransitionResult:
      type: object
      properties:
        recordId:
          type: string
          format: uuid
          description: Service record ID that was transitioned
        transitionId:
          type: string
          format: uuid
          description: Transition ID that was applied
        fromStatus:
          type: string
          description: Previous status before the transition
        toStatus:
          type: string
          description: New status after the transition
        updatedFields:
          type: object
          additionalProperties:
            nullable: true
          description: Subset of fields that were updated as part of the transition, including status and any form data
        status:
          type: string
          description: Transition processing status (currently 'COMPLETED' on success)
        automationTriggered:
          type: boolean
          description: True if an automation workflow was triggered for this transition
      required:
        - recordId
        - transitionId
        - fromStatus
        - toStatus
        - updatedFields
        - status
        - automationTriggered
      description: Result object for a processed service-record transition.
    ServiceRecordByServiceAndRecordQuery:
      type: object
      properties:
        serviceName:
          type: string
          minLength: 1
          description: Service API name that owns the service record
        recordId:
          type: string
          format: uuid
          description: Service record ID within the given service
      required:
        - serviceName
        - recordId
      description: Query parameters that identify a single service record by service name and record ID.
    ServiceRecordTransitionHistoryEntry:
      type: object
      properties:
        id:
          type: string
          description: Transition history entry ID
        fromStatus:
          type: string
          description: Status before the transition
        toStatus:
          type: string
          description: Status after the transition
        timestamp:
          type: string
          nullable: true
          description: When this transition occurred (server timestamp)
        userId:
          type: string
          description: ID of the user or actor who performed the transition
        notes:
          type: string
          description: Optional free-text notes captured with the transition
      required:
        - id
        - fromStatus
        - toStatus
        - timestamp
        - userId
      description: Single transition-history entry for a service record.
    ServiceRecordTransitionHistoryResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            description: Transition history entry ID
          fromStatus:
            type: string
            description: Status before the transition
          toStatus:
            type: string
            description: Status after the transition
          timestamp:
            type: string
            nullable: true
            description: When this transition occurred (server timestamp)
          userId:
            type: string
            description: ID of the user or actor who performed the transition
          notes:
            type: string
            description: Optional free-text notes captured with the transition
        required:
          - id
          - fromStatus
          - toStatus
          - timestamp
          - userId
        description: Single transition-history entry for a service record.
      description: Chronological list of transitions that have been applied to a service record.
    ServiceRecordAvailableTransitionsResponse:
      type: array
      items:
        type: object
        additionalProperties:
          nullable: true
        description: Transition edge in the service flow graph (id, source, target, and configuration data). Exact shape comes from the service flow definition.
      description: List of available transitions (flow edges) that can currently be applied to the service record.
    ServiceRecordServiceNameQuery:
      type: object
      properties:
        serviceName:
          type: string
          minLength: 1
          description: Service API name to load, including its flow definition
      required:
        - serviceName
      description: Query parameters for service-record endpoints that only require a service name.
    ServiceRecordServiceWithFlowResponse:
      type: object
      properties:
        service:
          type: object
          additionalProperties:
            nullable: true
          description: Service metadata (id, name, apiName, fields, properties, etc.)
        flow:
          type: object
          properties:
            edges:
              type: array
              items:
                type: object
                additionalProperties:
                  nullable: true
              description: Edges in the service flow graph (transitions between statuses)
            nodes:
              type: array
              items:
                type: object
                additionalProperties:
                  nullable: true
              description: Nodes in the service flow graph (statuses / stages)
          required:
            - edges
            - nodes
          description: Parsed flow definition for the service, ready to drive UI and automations
      required:
        - service
        - flow
      description: Service definition together with its parsed flow graph.
    ServiceRecordHandleInvoicePaidInput:
      type: object
      properties:
        recordId:
          type: string
          format: uuid
          description: Service record ID whose invoice has been marked as paid
      required:
        - recordId
      description: Request body for POST /business/service-records/handle-invoice-paid.
    ServiceRecordHandleInvoicePaidResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: True when invoice-paid processing completed successfully
      required:
        - ok
      description: Response body for invoice-paid handling on a service record.
    ServiceRecordMediaUploadInput:
      type: object
      properties:
        serviceName:
          type: string
          minLength: 1
          description: Service API name that owns the service record
        recordId:
          type: string
          minLength: 1
          description: Service record ID or temporary identifier (e.g. "new") used to associate uploaded media before persistence
        fieldApiName:
          type: string
          minLength: 1
          description: API name of the media field on the service form that these files belong to
      required:
        - serviceName
        - recordId
        - fieldApiName
      description: Non-file fields for the service-record media upload endpoint. Files are sent in multipart/form-data under the "files" field.
    ServiceRecordMediaItem:
      type: object
      properties:
        id:
          type: string
          description: Client-generated media identifier within the response
        url:
          type: string
          format: uri
          description: Publicly accessible URL for the uploaded media
        cloudFrontUrl:
          type: string
          nullable: true
          format: uri
          description: Optional CloudFront CDN URL when configured
        name:
          type: string
          description: Original filename of the uploaded media
        size:
          type: number
          description: File size in bytes
        type:
          type: string
          enum: &a6
            - photo
            - video
            - unknown
          description: Media type classification based on file MIME type
        uploadedAt:
          type: string
          description: ISO timestamp when the media metadata object was created
      required:
        - id
        - url
        - name
        - size
        - type
        - uploadedAt
      description: Single media object associated with a service record field.
    ServiceRecordMediaUploadResponse:
      type: object
      properties:
        media:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Client-generated media identifier within the response
              url:
                type: string
                format: uri
                description: Publicly accessible URL for the uploaded media
              cloudFrontUrl:
                type: string
                nullable: true
                format: uri
                description: Optional CloudFront CDN URL when configured
              name:
                type: string
                description: Original filename of the uploaded media
              size:
                type: number
                description: File size in bytes
              type:
                type: string
                enum: *a6
                description: Media type classification based on file MIME type
              uploadedAt:
                type: string
                description: ISO timestamp when the media metadata object was created
            required:
              - id
              - url
              - name
              - size
              - type
              - uploadedAt
            description: Single media object associated with a service record field.
          description: Uploaded media items created for the service record
      required:
        - media
      description: Response body for the service-record media upload endpoint.
    ServiceRecordByCustomerQuery:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
          description: Customer ID whose service records should be listed
        companyApiName:
          type: string
          minLength: 1
          description: Optional company API name to restrict which services are considered
        page:
          type: number
          minimum: 1
          default: 1
          description: Page number (1-based) for manual pagination
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
          description: Maximum number of records per page
      required:
        - customerId
      description: Query parameters for GET /business/service-records/by-customer.
    ServiceRecordByPartnerServiceQuery:
      type: object
      properties:
        partnerName:
          type: string
          minLength: 1
          default: default
          description: Partner company API name; defaults to "default" when omitted
        serviceName:
          type: string
          minLength: 1
          description: Service API name whose records should be listed
        page:
          type: number
          minimum: 1
          default: 1
          description: Page number (1-based) for pagination
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
          description: Maximum number of records per page
      required:
        - serviceName
      description: Query parameters for GET /business/service-records/by-partner-service.
    ServiceRecordForCompanyQuery:
      type: object
      properties:
        companyId:
          type: string
          format: uuid
          description: Target company ID whose assigned records should be visible
      required:
        - companyId
      description: Query parameters for GET /business/service-records/for-company.
    ServiceRecordForCustomerServiceQuery:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
          description: Customer ID whose records are requested
        serviceId:
          type: string
          format: uuid
          description: Service ID that owns the records to list
      required:
        - customerId
        - serviceId
      description: Query parameters for GET /business/service-records/for-customer-service.
    ServiceRecordCountQuery:
      type: object
      properties:
        companyName:
          type: string
          minLength: 1
          description: Company API name used to scope the service-record count
      required:
        - companyName
      description: Query parameters for GET /business/service-records/count.
    ServiceRecordCountResponse:
      type: object
      properties:
        count:
          type: integer
          minimum: 0
          description: Total number of service records for the given company
      required:
        - count
      description: Response body for service-record count endpoints.
    ServiceRecordRelationship:
      type: object
      properties:
        serviceRecordId:
          type: string
          format: uuid
          description: Target service record ID
        serviceId:
          type: string
          format: uuid
          description: Target service ID
        serviceName:
          type: string
          description: Human-readable name of the target service
        serviceApiName:
          type: string
          description: API name of the target service
        relationshipType:
          type: string
          enum: &a7
            - source
            - target
          description: Direction of the relationship relative to the current record
        createdAt:
          type: string
          description: ISO timestamp when the relationship was created
      required:
        - serviceRecordId
        - serviceId
        - serviceName
        - serviceApiName
        - relationshipType
        - createdAt
      description: Structured relationship between two service records/services.
    ServiceRecordRelatedQuery:
      type: object
      properties:
        recordId:
          type: string
          format: uuid
          description: Source service record ID
        serviceName:
          type: string
          minLength: 1
          description: Service API name of the source record
      required:
        - recordId
        - serviceName
      description: Query parameters for GET /business/service-records/related.
    ServiceRecordRelatedListResponse:
      type: array
      items:
        type: object
        properties:
          serviceRecordId:
            type: string
            format: uuid
            description: Target service record ID
          serviceId:
            type: string
            format: uuid
            description: Target service ID
          serviceName:
            type: string
            description: Human-readable name of the target service
          serviceApiName:
            type: string
            description: API name of the target service
          relationshipType:
            type: string
            enum: *a7
            description: Direction of the relationship relative to the current record
          createdAt:
            type: string
            description: ISO timestamp when the relationship was created
        required:
          - serviceRecordId
          - serviceId
          - serviceName
          - serviceApiName
          - relationshipType
          - createdAt
        description: Structured relationship between two service records/services.
      description: List of related service records for the given record and service.
    ServiceRecordWithRelatedQuery:
      type: object
      properties:
        partnerName:
          type: string
          minLength: 1
          default: default
          description: Partner company API name; defaults to "default" when omitted
        serviceName:
          type: string
          minLength: 1
          description: Service API name that owns the record
        recordId:
          type: string
          format: uuid
          description: Service record ID within the given service
      required:
        - serviceName
        - recordId
      description: Query parameters for GET /business/service-records/with-related.
    ServiceRecordWithRelatedResponse:
      type: object
      additionalProperties:
        nullable: true
      description: Composite payload containing a service record and its related entities, including service definition, customer, documents, shipments, inventory parts, activities, service items, and task lists. Shape is intentionally generic.
    ServiceRecordByIdQuery:
      type: object
      properties:
        partnerName:
          type: string
          minLength: 1
          default: default
          description: Partner company API name; defaults to "default" when omitted
        serviceName:
          type: string
          minLength: 1
          description: Service API name that owns the record
        recordId:
          type: string
          format: uuid
          description: Service record ID within the given service
      required:
        - serviceName
        - recordId
      description: Query parameters for GET /business/service-records/by-id.
    CreateServiceRecordInput:
      type: object
      properties:
        partnerName:
          type: string
          minLength: 1
          description: Partner company API name initiating the creation
        serviceName:
          type: string
          minLength: 1
          description: Service API name for which to create a record
        recordId:
          type: string
          nullable: true
          format: uuid
          description: Optional explicit record ID; normally omitted so the system generates one
        recordData:
[...]
