openapi: 3.0.0
info:
  title: WarrantyFlow V3 API
  version: 3.0.0
  description: Versioned API for warranty and service management. Use API key or session auth.
servers:
  - url: https://api.warrantyflow.com/api/v3
    description: Production
  - url: http://localhost:3000/api/v3
    description: Development
tags:
  - name: Customers
    description: Customer management
  - name: Suppliers
    description: Supplier management
  - name: Billing
    description: Estimates, invoices, and transactions
  - name: Service
    description: Service definitions
  - name: Service Records
    description: Service record instances
  - name: Shipping
    description: Shipments and logistics
  - name: Workspace
    description: Task lists and tasks
  - name: Health
    description: Health check
  - name: Users
    description: User management
  - name: Roles
    description: Roles and permissions
  - name: API Keys
    description: API key management
  - name: Dashboard
    description: Dashboards
  - name: Solutions
    description: Solutions
  - name: Subscriptions
    description: Subscriptions
  - name: Inventory
    description: Products and inventory
  - name: Communications
    description: Communications (email, SMS)
  - name: Email Templates
    description: Email templates
  - name: Partner
    description: Partner invitations and relationships
  - name: Locations
    description: Company locations (warehouses, offices)
  - name: Audit
    description: Audit logs and activity
  - name: Company
    description: Company info and partners
  - name: Contracts
    description: Contract list, generate, sign, upload, download
  - name: Onboarding
    description: Onboarding status and progress
  - name: Subscriptions
    description: Subscription plan and status
  - name: Forms
    description: Form list and create
  - name: Documentation
    description: Service documentation nodes
  - name: Email Sender Identities
    description: Email sender identities
  - name: Profile
    description: Profile and offering/fulfillment profile IDs
  - name: Service Items
    description: Service items
  - name: Service Item Custom Fields
    description: Service item custom fields
  - name: System Automation
    description: Execute system automations (estimate, invoice, shipment, service transfer, task list)
  - name: System Email Templates
    description: SaaS-level system email templates (ADMIN only)
  - name: AI
    description: AI analysis and contract text generation
  - name: Auth
    description: "Authentication: login, logout, forgot-password, reset-password"
  - name: Admin
    description: Admin performance and system status
  - name: Analytics
    description: Analytics dashboard, company, customer
  - name: Customer Portal
    description: Customer portal profile and service record data
  - name: Integrations
    description: Integration connections (e.g. Gmail, Stripe)
  - name: Webhooks
    description: Webhook handlers (e.g. Stripe)
components:
  schemas:
    Id:
      type: string
      format: uuid
    PaginationQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
        sortBy:
          type: string
        sortOrder:
          type: string
          enum: &a13
            - asc
            - desc
          default: desc
    PaginationDto:
      type: object
      properties:
        page:
          type: number
        limit:
          type: number
        total:
          type: number
        totalPages:
          type: number
      required:
        - page
        - limit
        - total
        - totalPages
    CreateCustomerInput:
      type: object
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 50
        lastName:
          type: string
          minLength: 1
          maxLength: 50
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        shippingAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
            city:
              type: string
              minLength: 1
            postcode:
              type: string
              minLength: 1
            state:
              type: string
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - postcode
            - country
        billingAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
            city:
              type: string
              minLength: 1
            postcode:
              type: string
              minLength: 1
            state:
              type: string
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - postcode
            - country
        notes:
          type: string
          maxLength: 1000
      required:
        - firstName
        - lastName
    UpdateCustomerInput:
      anyOf:
        - type: object
          properties:
            user:
              type: object
              properties:
                firstName:
                  type: string
                  minLength: 1
                  maxLength: 50
                lastName:
                  type: string
                  minLength: 1
                  maxLength: 50
                email:
                  type: string
                  format: email
                phone:
                  type: string
                  minLength: 7
                  maxLength: 20
              additionalProperties: false
            shippingAddress:
              type: object
              properties:
                street:
                  type: string
                  minLength: 1
                street2:
                  type: string
                  nullable: true
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  nullable: true
                postcode:
                  type: string
                  minLength: 1
                country:
                  type: string
                  minLength: 1
              additionalProperties: false
            billingAddress:
              type: object
              properties:
                street:
                  type: string
                  minLength: 1
                street2:
                  type: string
                  nullable: true
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  nullable: true
                postcode:
                  type: string
                  minLength: 1
                country:
                  type: string
                  minLength: 1
              additionalProperties: false
            isActive:
              type: boolean
            notes:
              type: string
              maxLength: 1000
          additionalProperties: false
        - type: object
          properties:
            firstName:
              type: string
              minLength: 1
              maxLength: 50
            lastName:
              type: string
              minLength: 1
              maxLength: 50
            email:
              type: string
              format: email
            phone:
              type: string
              minLength: 7
              maxLength: 20
            isActive:
              type: boolean
            notes:
              type: string
              maxLength: 1000
          additionalProperties: false
    ListCustomersQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
        sortBy:
          type: string
          default: createdAt
        sortOrder:
          type: string
          enum: &a9
            - asc
            - desc
          default: desc
        search:
          type: string
    CustomerDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        userId:
          type: string
          nullable: true
          format: uuid
        billingAddressId:
          type: string
          nullable: true
          format: uuid
        shippingAddressId:
          type: string
          nullable: true
          format: uuid
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        user:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            firstName:
              type: string
              nullable: true
            lastName:
              type: string
              nullable: true
            email:
              type: string
              nullable: true
              format: email
            phone:
              type: string
              nullable: true
            role:
              type: string
            recordImage:
              type: string
              nullable: true
            status:
              type: string
            createdAt:
              type: string
              nullable: true
            updatedAt:
              type: string
              nullable: true
          required:
            - id
            - firstName
            - lastName
            - email
            - phone
            - role
            - status
        billingAddress:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            street:
              type: string
            street2:
              type: string
              nullable: true
            city:
              type: string
            postcode:
              type: string
            state:
              type: string
              nullable: true
            country:
              type: string
            type:
              type: string
              enum: &a1
                - BILLING
                - SHIPPING
          required:
            - street
            - city
            - postcode
            - country
        shippingAddress:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            street:
              type: string
            street2:
              type: string
              nullable: true
            city:
              type: string
            postcode:
              type: string
            state:
              type: string
              nullable: true
            country:
              type: string
            type:
              type: string
              enum: *a1
          required:
            - street
            - city
            - postcode
            - country
        company:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            apiName:
              type: string
          required:
            - id
      required:
        - id
        - companyId
    CustomerListResponse:
      type: object
      properties:
        customers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              userId:
                type: string
                nullable: true
                format: uuid
              billingAddressId:
                type: string
                nullable: true
                format: uuid
              shippingAddressId:
                type: string
                nullable: true
                format: uuid
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              user:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  firstName:
                    type: string
                    nullable: true
                  lastName:
                    type: string
                    nullable: true
                  email:
                    type: string
                    nullable: true
                    format: email
                  phone:
                    type: string
                    nullable: true
                  role:
                    type: string
                  recordImage:
                    type: string
                    nullable: true
                  status:
                    type: string
                  createdAt:
                    type: string
                    nullable: true
                  updatedAt:
                    type: string
                    nullable: true
                required:
                  - id
                  - firstName
                  - lastName
                  - email
                  - phone
                  - role
                  - status
              billingAddress:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  street:
                    type: string
                  street2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  postcode:
                    type: string
                  state:
                    type: string
                    nullable: true
                  country:
                    type: string
                  type:
                    type: string
                    enum: *a1
                required:
                  - street
                  - city
                  - postcode
                  - country
              shippingAddress:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  street:
                    type: string
                  street2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  postcode:
                    type: string
                  state:
                    type: string
                    nullable: true
                  country:
                    type: string
                  type:
                    type: string
                    enum: *a1
                required:
                  - street
                  - city
                  - postcode
                  - country
              company:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  apiName:
                    type: string
                required:
                  - id
            required:
              - id
              - companyId
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - customers
        - pagination
    CreateSupplierInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        category:
          type: string
          enum: &a10
            - ELECTRONICS
            - MECHANICAL
            - SOFTWARE
            - SERVICES
            - OTHER
          default: OTHER
        address:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            city:
              type: string
              minLength: 1
            state:
              type: string
            zipCode:
              type: string
              minLength: 1
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - zipCode
            - country
        notes:
          type: string
          maxLength: 1000
      required:
        - name
        - email
    UpdateSupplierInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
        phone:
          type: string
          minLength: 7
          maxLength: 20
        category:
          type: string
          enum: &a11
            - ELECTRONICS
            - MECHANICAL
            - SOFTWARE
            - SERVICES
            - OTHER
        status:
          type: string
          enum: &a12
            - ACTIVE
            - INACTIVE
            - SUSPENDED
        notes:
          type: string
          maxLength: 1000
    SupplierDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        category:
          type: string
        status:
          type: string
        notes:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - name
    SupplierListResponse:
      type: object
      properties:
        suppliers:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              name:
                type: string
              email:
                type: string
                nullable: true
              phone:
                type: string
                nullable: true
              category:
                type: string
              status:
                type: string
              notes:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - name
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - suppliers
        - pagination
    LineItemInput:
      type: object
      properties:
        type:
          type: string
          enum: &a2
            - SERVICE_ITEM
            - PRODUCT
            - SOLUTION
            - SHIPPING
            - COLLECTION
        description:
          type: string
          minLength: 1
        note:
          type: string
        quantity:
          type: number
          minimum: 0
          exclusiveMinimum: true
        unitPrice:
          type: number
          minimum: 0
        totalPrice:
          type: number
          minimum: 0
        itemOrder:
          type: number
        discount:
          type: number
          minimum: 0
        productId:
          type: string
          format: uuid
        solutionId:
          type: string
          format: uuid
        vatRate:
          type: number
          minimum: 0
        vatAmount:
          type: number
          minimum: 0
        payableByCustomer:
          type: boolean
        isMandatory:
          type: boolean
      required:
        - type
        - description
        - quantity
        - unitPrice
        - totalPrice
    CreateEstimateInput:
      type: object
      properties:
        referenceNumber:
          type: string
        recipientType:
          type: string
          enum: &a3
            - CUSTOMER
            - COMPANY
        recipientId:
          type: string
          format: uuid
        serviceId:
          type: string
          format: uuid
        serviceRecordId:
          type: string
          format: uuid
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
        paymentTerms:
          type: string
        subTotal:
          type: number
          minimum: 0
        totalAmount:
          type: number
          minimum: 0
        vatAmount:
          type: number
          minimum: 0
        vatRate:
          type: number
          minimum: 0
        shippingCost:
          type: number
          minimum: 0
        notes:
          type: string
        termsAndConditions:
          type: string
        currencyCode:
          type: string
        lineItems:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: *a2
              description:
                type: string
                minLength: 1
              note:
                type: string
              quantity:
                type: number
                minimum: 0
                exclusiveMinimum: true
              unitPrice:
                type: number
                minimum: 0
              totalPrice:
                type: number
                minimum: 0
              itemOrder:
                type: number
              discount:
                type: number
                minimum: 0
              productId:
                type: string
                format: uuid
              solutionId:
                type: string
                format: uuid
              vatRate:
                type: number
                minimum: 0
              vatAmount:
                type: number
                minimum: 0
              payableByCustomer:
                type: boolean
              isMandatory:
                type: boolean
            required:
              - type
              - description
              - quantity
              - unitPrice
              - totalPrice
          minItems: 1
      required:
        - recipientType
        - recipientId
        - dueDate
        - subTotal
        - totalAmount
        - lineItems
    CreateInvoiceInput:
      type: object
      properties:
        referenceNumber:
          type: string
        recipientType:
          type: string
          enum: *a3
        recipientId:
          type: string
          format: uuid
        serviceId:
          type: string
          format: uuid
        serviceRecordId:
          type: string
          format: uuid
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
        paymentTerms:
          type: string
        subTotal:
          type: number
          minimum: 0
        totalAmount:
          type: number
          minimum: 0
        vatAmount:
          type: number
          minimum: 0
        vatRate:
          type: number
          minimum: 0
        shippingCost:
          type: number
          minimum: 0
        notes:
          type: string
        termsAndConditions:
          type: string
        currencyCode:
          type: string
        lineItems:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: *a2
              description:
                type: string
                minLength: 1
              note:
                type: string
              quantity:
                type: number
                minimum: 0
                exclusiveMinimum: true
              unitPrice:
                type: number
                minimum: 0
              totalPrice:
                type: number
                minimum: 0
              itemOrder:
                type: number
              discount:
                type: number
                minimum: 0
              productId:
                type: string
                format: uuid
              solutionId:
                type: string
                format: uuid
              vatRate:
                type: number
                minimum: 0
              vatAmount:
                type: number
                minimum: 0
              payableByCustomer:
                type: boolean
              isMandatory:
                type: boolean
            required:
              - type
              - description
              - quantity
              - unitPrice
              - totalPrice
          minItems: 1
        estimateId:
          type: string
          format: uuid
        serviceRecordIds:
          type: array
          items:
            type: string
            format: uuid
      required:
        - recipientType
        - recipientId
        - dueDate
        - subTotal
        - totalAmount
        - lineItems
    UpdateTransactionInput:
      type: object
      properties:
        status:
          type: string
          enum: &a14
            - DRAFT
            - PENDING
            - APPROVED
            - REJECTED
            - COMPLETED
            - CANCELLED
            - OVERDUE
            - PAID
        dueDate:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
        notes:
          type: string
        termsAndConditions:
          type: string
        paidAmount:
          type: number
          minimum: 0
    TransactionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
        status:
          type: string
        recipientType:
          type: string
        recipientId:
          type: string
          format: uuid
        issuerCompanyId:
          type: string
          format: uuid
        subTotal:
          type: number
        totalAmount:
          type: number
        vatAmount:
          type: number
        vatRate:
          type: number
        paidAmount:
          type: number
        dueDate:
          type: string
          nullable: true
        paymentTerms:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - referenceNumber
        - status
        - recipientType
        - recipientId
        - issuerCompanyId
        - subTotal
        - totalAmount
        - vatAmount
        - vatRate
    BillingListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              referenceNumber:
                type: string
              status:
                type: string
              recipientType:
                type: string
              recipientId:
                type: string
                format: uuid
              issuerCompanyId:
                type: string
                format: uuid
              subTotal:
                type: number
              totalAmount:
                type: number
              vatAmount:
                type: number
              vatRate:
                type: number
              paidAmount:
                type: number
              dueDate:
                type: string
                nullable: true
              paymentTerms:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - referenceNumber
              - status
              - recipientType
              - recipientId
              - issuerCompanyId
              - subTotal
              - totalAmount
              - vatAmount
              - vatRate
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - data
        - pagination
    CreateServiceInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        companyId:
          type: string
          format: uuid
        status:
          type: string
          enum: &a15
            - ACTIVE
            - INACTIVE
          default: ACTIVE
        flow:
          nullable: true
        properties:
          type: object
          additionalProperties:
            nullable: true
        fields:
          type: array
          items:
            nullable: true
        apiName:
          type: string
        tableName:
          type: string
      required:
        - name
    UpdateServiceInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        status:
          type: string
          enum: &a16
            - ACTIVE
            - INACTIVE
        flow:
          nullable: true
        properties:
          type: object
          additionalProperties:
            nullable: true
        fields:
          type: array
          items:
            nullable: true
    ServiceDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        apiName:
          type: string
          nullable: true
        tableName:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - name
        - status
    ServiceListResponse:
      type: object
      properties:
        services:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              name:
                type: string
              description:
                type: string
                nullable: true
              status:
                type: string
              apiName:
                type: string
                nullable: true
              tableName:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - name
              - status
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - services
        - pagination
    ListServiceRecordsQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
        sortBy:
          type: string
          default: createdAt
        sortOrder:
          type: string
          enum: &a17
            - asc
            - desc
          default: desc
        serviceId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        status:
          type: string
        search:
          type: string
    ServiceRecordDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        serviceId:
          type: string
          format: uuid
        customerId:
          type: string
          nullable: true
          format: uuid
        status:
          type: string
        data:
          type: object
          additionalProperties:
            nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - serviceId
        - status
    ServiceRecordListResponse:
      type: object
      properties:
        serviceRecords:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              serviceId:
                type: string
                format: uuid
              customerId:
                type: string
                nullable: true
                format: uuid
              status:
                type: string
              data:
                type: object
                additionalProperties:
                  nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - serviceId
              - status
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - serviceRecords
        - pagination
    CreateShipmentInput:
      type: object
      properties:
        serviceRecordId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        recipientAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
            city:
              type: string
              minLength: 1
            postcode:
              type: string
              minLength: 1
            state:
              type: string
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - postcode
            - country
        senderAddress:
          type: object
          properties:
            street:
              type: string
              minLength: 1
            street2:
              type: string
            city:
              type: string
              minLength: 1
            postcode:
              type: string
              minLength: 1
            state:
              type: string
            country:
              type: string
              minLength: 1
          required:
            - street
            - city
            - postcode
            - country
        deliveryMethodId:
          type: string
          format: uuid
        notes:
          type: string
      required:
        - customerId
        - recipientAddress
    ShipmentDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        serviceRecordId:
          type: string
          nullable: true
        customerId:
          type: string
          nullable: true
          format: uuid
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - status
    ShipmentListResponse:
      type: object
      properties:
        shipments:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              status:
                type: string
              serviceRecordId:
                type: string
                nullable: true
              customerId:
                type: string
                nullable: true
                format: uuid
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - status
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - shipments
        - pagination
    TaskListDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        serviceRecordId:
          type: string
          nullable: true
          format: uuid
        solutionId:
          type: string
          nullable: true
          format: uuid
        title:
          type: string
        status:
          type: string
        order:
          type: number
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
    TaskDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        taskListId:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        order:
          type: number
        assignedToId:
          type: string
          nullable: true
        dueDate:
          type: string
          nullable: true
        completedAt:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - taskListId
    TaskListListResponse:
      type: object
      properties:
        taskLists:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              serviceRecordId:
                type: string
                nullable: true
                format: uuid
              solutionId:
                type: string
                nullable: true
                format: uuid
              title:
                type: string
              status:
                type: string
              order:
                type: number
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
      required:
        - taskLists
    TaskListTasksResponse:
      type: object
      properties:
        tasks:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              taskListId:
                type: string
                format: uuid
              title:
                type: string
              description:
                type: string
                nullable: true
              status:
                type: string
              order:
                type: number
              assignedToId:
                type: string
                nullable: true
              dueDate:
                type: string
                nullable: true
              completedAt:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - taskListId
      required:
        - tasks
    CreateUserInput:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        firstName:
          type: string
          minLength: 1
          maxLength: 50
        lastName:
          type: string
          minLength: 1
          maxLength: 50
        phone:
          type: string
          minLength: 10
          maxLength: 15
        role:
          type: string
          enum: &a18
            - USER
            - ADMIN
            - MANAGER
          default: USER
      required:
        - email
        - password
        - firstName
        - lastName
    UpdateUserInput:
      type: object
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 50
        lastName:
          type: string
          minLength: 1
          maxLength: 50
        phone:
          type: string
          minLength: 10
          maxLength: 15
        role:
          type: string
          enum: &a19
            - USER
            - ADMIN
            - MANAGER
        isActive:
          type: boolean
    UserDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        role:
          type: string
        companyId:
          type: string
          nullable: true
          format: uuid
        isActive:
          type: boolean
        emailVerified:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - email
        - role
    UserListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              email:
                type: string
                format: email
              firstName:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              phone:
                type: string
                nullable: true
              role:
                type: string
              companyId:
                type: string
                nullable: true
                format: uuid
              isActive:
                type: boolean
              emailVerified:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - email
              - role
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - users
        - pagination
    CreateRoleInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 50
        description:
          type: string
          maxLength: 200
      required:
        - name
    RoleDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        userCount:
          type: number
      required:
        - name
    RoleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              description:
                type: string
                nullable: true
              userCount:
                type: number
            required:
              - name
      required:
        - data
    CreateSolutionInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        sku:
          type: string
          maxLength: 50
        price:
          type: number
          minimum: 0
        serviceItemId:
          type: string
          format: uuid
      required:
        - name
    UpdateSolutionInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        sku:
          type: string
          maxLength: 50
        price:
          type: number
          minimum: 0
        status:
          type: string
          enum: &a20
            - ACTIVE
            - INACTIVE
    SolutionDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        sku:
          type: string
          nullable: true
        status:
          type: string
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - name
    SolutionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              name:
                type: string
              description:
                type: string
                nullable: true
              sku:
                type: string
                nullable: true
              status:
                type: string
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - name
      required:
        - data
    CreateProductInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        sku:
          type: string
          maxLength: 50
        description:
          type: string
          maxLength: 1000
        quantity:
          type: number
          minimum: 0
          default: 0
        unitPrice:
          type: number
          minimum: 0
        supplierId:
          type: string
          format: uuid
        category:
          type: string
          maxLength: 50
        status:
          type: string
          enum: &a21
            - ACTIVE
            - INACTIVE
            - DISCONTINUED
          default: ACTIVE
      required:
        - name
    UpdateProductInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        sku:
          type: string
          maxLength: 50
        description:
          type: string
          maxLength: 1000
        quantity:
          type: number
          minimum: 0
        unitPrice:
          type: number
          minimum: 0
        status:
          type: string
          enum: &a22
            - ACTIVE
            - INACTIVE
            - DISCONTINUED
    ProductDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        sku:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        quantity:
          type: number
        unitPrice:
          type: number
          nullable: true
        status:
          type: string
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - name
    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              name:
                type: string
              sku:
                type: string
                nullable: true
              description:
                type: string
                nullable: true
              quantity:
                type: number
              unitPrice:
                type: number
                nullable: true
              status:
                type: string
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - name
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - data
        - pagination
    CreateCommunicationInput:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
        templateId:
          type: string
          format: uuid
        type:
          type: string
          enum: &a23
            - EMAIL
            - SMS
            - NOTIFICATION
          default: EMAIL
        subject:
          type: string
          minLength: 1
          maxLength: 255
        content:
          type: string
          minLength: 1
        status:
          type: string
          enum: &a24
            - DRAFT
            - SCHEDULED
            - SENT
            - FAILED
            - CANCELLED
          default: DRAFT
        scheduledAt:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
        attachments:
          type: array
          items:
            type: object
            properties:
              fileName:
                type: string
                minLength: 1
              fileSize:
                type: number
                minimum: 0
              url:
                type: string
                format: uri
            required:
              - fileName
              - url
      required:
        - content
    UpdateCommunicationInput:
      type: object
      properties:
        customerId:
          type: string
          format: uuid
        templateId:
          type: string
          format: uuid
        type:
          type: string
          enum: &a25
            - EMAIL
            - SMS
            - NOTIFICATION
        subject:
          type: string
          minLength: 1
          maxLength: 255
        content:
          type: string
          minLength: 1
        status:
          type: string
          enum: &a26
            - DRAFT
            - SCHEDULED
            - SENT
            - FAILED
            - CANCELLED
        scheduledAt:
          anyOf:
            - type: string
              format: date-time
            - type: string
              nullable: true
            - nullable: true
    CommunicationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        customerId:
          type: string
          nullable: true
          format: uuid
        templateId:
          type: string
          nullable: true
          format: uuid
        type:
          type: string
        status:
          type: string
        subject:
          type: string
          nullable: true
        content:
          type: string
        scheduledAt:
          type: string
          nullable: true
        sentAt:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - type
        - status
        - content
    CommunicationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              customerId:
                type: string
                nullable: true
                format: uuid
              templateId:
                type: string
                nullable: true
                format: uuid
              type:
                type: string
              status:
                type: string
              subject:
                type: string
                nullable: true
              content:
                type: string
              scheduledAt:
                type: string
                nullable: true
              sentAt:
                type: string
                nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - type
              - status
              - content
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - data
    ListEmailTemplatesQuery:
      type: object
      properties:
        category:
          type: string
        isSystem:
          type: string
          enum: &a27
            - "true"
            - "false"
        isActive:
          type: string
          enum: &a28
            - "true"
            - "false"
        search:
          type: string
    CreateEmailTemplateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        category:
          type: string
          enum: &a4
            - SYSTEM_COLLECTION_REQUEST
            - SYSTEM_DELIVERY_CONFIRMATION
            - SYSTEM_ESTIMATE
            - SYSTEM_INVOICE
            - CUSTOM
        subjectTemplate:
          type: string
          minLength: 1
        designJson:
          type: object
          additionalProperties:
            nullable: true
        description:
          type: string
          maxLength: 500
      required:
        - name
        - subjectTemplate
    UpdateEmailTemplateInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        category:
          type: string
          enum: *a4
        subjectTemplate:
          type: string
          minLength: 1
        designJson:
          type: object
          additionalProperties:
            nullable: true
        description:
          type: string
          maxLength: 500
    EmailTemplateDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
        subjectTemplate:
          type: string
        isSystem:
          type: boolean
        isActive:
          type: boolean
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - name
        - subjectTemplate
    EmailTemplateListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              name:
                type: string
              category:
                type: string
              subjectTemplate:
                type: string
              isSystem:
                type: boolean
              isActive:
                type: boolean
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - name
              - subjectTemplate
      required:
        - data
    InvitePartnerInput:
      type: object
      properties:
        companyType:
          type: string
          minLength: 1
        companyDetails:
          type: object
          properties:
            name:
              type: string
              minLength: 1
            apiName:
              type: string
              minLength: 1
            contacts:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                  position:
                    type: string
                  email:
                    type: string
                    format: email
                  phone:
                    type: string
                required:
                  - name
                  - email
              minItems: 1
          required:
            - name
            - apiName
            - contacts
      required:
        - companyType
        - companyDetails
    PartnerInvitationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        inviterCompanyId:
          type: string
          format: uuid
        inviteeCompanyId:
          type: string
          format: uuid
        status:
          type: string
        createdAt:
          type: string
          nullable: true
      required:
        - inviterCompanyId
        - status
    CreateLocationInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        street:
          type: string
          minLength: 1
        street2:
          type: string
          nullable: true
        city:
          type: string
          minLength: 1
        postcode:
          type: string
          minLength: 1
        state:
          type: string
          nullable: true
        country:
          type: string
          minLength: 1
        phone:
          type: string
          maxLength: 20
        isDefault:
          type: boolean
      required:
        - name
        - street
        - city
        - postcode
        - country
    UpdateLocationInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        street:
          type: string
          minLength: 1
        street2:
          type: string
          nullable: true
        city:
          type: string
          minLength: 1
        postcode:
          type: string
          minLength: 1
        state:
          type: string
          nullable: true
        country:
          type: string
          minLength: 1
        phone:
          type: string
          maxLength: 20
        active:
          type: boolean
        isDefault:
          type: boolean
    ListLocationsQuery:
      type: object
      properties:
        activeOnly:
          type: string
          enum: &a29
            - "true"
            - "false"
          description: If false, includes inactive locations; default true
    LocationDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        companyId:
          type: string
          format: uuid
        addressId:
          type: string
          format: uuid
        address:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            street:
              type: string
            street2:
              type: string
              nullable: true
            city:
              type: string
            postcode:
              type: string
            state:
              type: string
              nullable: true
            country:
              type: string
        phone:
          type: string
          nullable: true
        active:
          type: boolean
        isDefault:
          type: boolean
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - name
        - companyId
        - addressId
    LocationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              companyId:
                type: string
                format: uuid
              addressId:
                type: string
                format: uuid
              address:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  street:
                    type: string
                  street2:
                    type: string
                    nullable: true
                  city:
                    type: string
                  postcode:
                    type: string
                  state:
                    type: string
                    nullable: true
                  country:
                    type: string
              phone:
                type: string
                nullable: true
              active:
                type: boolean
              isDefault:
                type: boolean
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - name
              - companyId
              - addressId
      required:
        - data
    ListAuditLogsQuery:
      type: object
      properties:
        startDate:
          type: string
          description: ISO date or date-time for filter start
        endDate:
          type: string
          description: ISO date or date-time for filter end
        userId:
          type: string
          format: uuid
        action:
          type: string
        entityType:
          type: string
        serviceId:
          type: string
          format: uuid
        search:
          type: string
        page:
          type: number
          minimum: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
    AuditLogDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        userId:
          type: string
          nullable: true
          format: uuid
        userEmail:
          type: string
        userName:
          type: string
          nullable: true
        action:
          type: string
        entityType:
          type: string
        entityId:
          type: string
        entityName:
          type: string
          nullable: true
        serviceId:
          type: string
          nullable: true
          format: uuid
        serviceName:
          type: string
          nullable: true
        tableName:
          type: string
          nullable: true
        oldValues:
          nullable: true
        newValues:
          nullable: true
        changedFields:
          type: array
          items:
            type: string
        ipAddress:
          type: string
          nullable: true
        userAgent:
          type: string
          nullable: true
        metadata:
          nullable: true
        createdAt:
          type: string
          nullable: true
        user:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            firstName:
              type: string
              nullable: true
            lastName:
              type: string
              nullable: true
            email:
              type: string
          required:
            - id
            - email
      required:
        - id
        - companyId
        - action
        - entityType
        - entityId
    AuditLogListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              userId:
                type: string
                nullable: true
                format: uuid
              userEmail:
                type: string
              userName:
                type: string
                nullable: true
              action:
                type: string
              entityType:
                type: string
              entityId:
                type: string
              entityName:
                type: string
                nullable: true
              serviceId:
                type: string
                nullable: true
                format: uuid
              serviceName:
                type: string
                nullable: true
              tableName:
                type: string
                nullable: true
              oldValues:
                nullable: true
              newValues:
                nullable: true
              changedFields:
                type: array
                items:
                  type: string
              ipAddress:
                type: string
                nullable: true
              userAgent:
                type: string
                nullable: true
              metadata:
                nullable: true
              createdAt:
                type: string
                nullable: true
              user:
                type: object
                nullable: true
                properties:
                  id:
                    type: string
                    format: uuid
                  firstName:
                    type: string
                    nullable: true
                  lastName:
                    type: string
                    nullable: true
                  email:
                    type: string
                required:
                  - id
                  - email
            required:
              - id
              - companyId
              - action
              - entityType
              - entityId
        total:
          type: number
        page:
          type: number
        limit:
          type: number
        totalPages:
          type: number
      required:
        - items
        - total
        - page
        - limit
        - totalPages
    CompanyAndPartnersQuery:
      type: object
      properties:
        companyId:
          type: string
          format: uuid
          description: Company ID; defaults to authenticated company
    CompanySummaryDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        apiName:
          type: string
      required:
        - id
        - name
        - apiName
    CompanyAndPartnersResponse:
      type: object
      properties:
        companies:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              apiName:
                type: string
            required:
              - id
              - name
              - apiName
      required:
        - companies
    CompanyInfoDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        apiName:
          type: string
        recordImage:
          type: string
          nullable: true
        logoUrl:
          type: string
          nullable: true
      required:
        - id
        - name
        - apiName
    ListContractsQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
    ContractDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        fileName:
          type: string
        fileSize:
          type: string
        fileType:
          type: string
        uploadDate:
          anyOf:
            - type: string
            - type: string
              nullable: true
            - nullable: true
        lastModified:
          anyOf:
            - type: string
            - type: string
              nullable: true
            - nullable: true
        status:
          type: string
          enum: &a5
            - Draft
            - Published
            - Archived
        uploadedBy:
          type: string
        version:
          type: string
        s3Key:
          type: string
        s3Url:
          type: string
      required:
        - id
    ContractListResponse:
      type: object
      properties:
        contracts:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              title:
                type: string
              description:
                type: string
              fileName:
                type: string
              fileSize:
                type: string
              fileType:
                type: string
              uploadDate:
                anyOf:
                  - type: string
                  - type: string
                    nullable: true
                  - nullable: true
              lastModified:
                anyOf:
                  - type: string
                  - type: string
                    nullable: true
                  - nullable: true
              status:
                type: string
                enum: *a5
              uploadedBy:
                type: string
              version:
                type: string
              s3Key:
                type: string
              s3Url:
                type: string
            required:
              - id
        pagination:
          type: object
          properties:
            total:
              type: number
            limit:
              type: number
            offset:
              type: number
            hasMore:
              type: boolean
          required:
            - total
            - limit
            - offset
      required:
        - contracts
        - pagination
    GenerateContractInput:
      type: object
      properties:
        companyApiName:
          type: string
          minLength: 1
        serviceApiName:
          type: string
          minLength: 1
        contractContent:
          type: string
          minLength: 1
        contractType:
          type: string
          minLength: 1
        status:
          type: string
      required:
        - companyApiName
        - serviceApiName
        - contractContent
        - contractType
    SignContractInput:
      type: object
      properties:
        contractId:
          type: string
          minLength: 1
        signatureData:
          type: object
          properties:
            signature:
              type: string
              maxLength: 10000
              pattern: ^[0-9a-f]+$
            signedAt:
              type: string
              format: date-time
            encoding:
              type: string
              enum:
                - hex
          required:
            - signature
      required:
        - contractId
        - signatureData
    UploadContractInput:
      type: object
      properties:
        contractType:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        description:
          type: string
      required:
        - contractType
        - title
    DownloadContractQuery:
      type: object
      properties:
        contractId:
          type: string
          format: uuid
      required:
        - contractId
    OnboardingProgressQuery:
      type: object
      properties:
        companyId:
          type: string
          format: uuid
          description: Company ID; defaults to authenticated company
    OnboardingStatusDto:
      type: object
      additionalProperties:
        nullable: true
      description: Onboarding status (company, user, dashboard, etc.)
    OnboardingProgressDto:
      type: object
      additionalProperties:
        nullable: true
      description: Onboarding progress steps and completion state
    CompleteOnboardingInput:
      type: object
      properties:
        companyId:
          type: string
          format: uuid
          description: Company to mark complete; defaults to authenticated company
    SubscriptionDto:
      type: object
      properties:
        id:
          type: string
          nullable: true
          format: uuid
        plan:
          type: string
          enum: &a30
            - BASIC
            - STANDARD
            - ENTERPRISE
        status:
          type: string
        currentPeriodStart:
          type: string
          nullable: true
        currentPeriodEnd:
          type: string
          nullable: true
        cancelAtPeriodEnd:
          type: boolean
        isActive:
          type: boolean
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
    UpdateSubscriptionInput:
      type: object
      properties:
        plan:
          type: string
          enum: &a31
            - BASIC
            - STANDARD
            - ENTERPRISE
        status:
          type: string
          enum: &a32
            - TRIAL
            - ACTIVE
            - PAST_DUE
            - CANCELED
            - UNPAID
        currentPeriodStart:
          type: string
          nullable: true
        currentPeriodEnd:
          type: string
          nullable: true
        cancelAtPeriodEnd:
          type: boolean
      required:
        - plan
    ListFormsQuery:
      type: object
      properties:
        includeDeleted:
          type: string
          enum: &a33
            - "true"
            - "false"
          description: Include soft-deleted forms
        page:
          type: number
          minimum: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
    CreateFormInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        status:
          type: string
          enum: &a34
            - ACTIVE
            - INACTIVE
            - DRAFT
      required:
        - name
    FormDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        status:
          type: string
        companyId:
          type: string
          format: uuid
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        deletedAt:
          type: string
          nullable: true
      required:
        - id
    FormListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              description:
                type: string
                nullable: true
              status:
                type: string
              companyId:
                type: string
                format: uuid
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              deletedAt:
                type: string
                nullable: true
            required:
              - id
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
    ListApiKeysQuery:
      type: object
      properties:
        page:
          type: number
          minimum: 1
          default: 1
        limit:
          type: number
          minimum: 1
          maximum: 100
          default: 10
    CreateApiKeyInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        permissions:
          type: array
          items:
            type: string
        expiresAt:
          type: string
          description: ISO date string for expiration
      required:
        - name
    UpdateApiKeyInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        permissions:
          type: array
          items:
            type: string
        expiresAt:
          type: string
    ApiKeyDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
        type:
          type: string
        provider:
          type: string
          description: Display name of the API key
        scope:
          type: string
          nullable: true
          description: Comma-separated permissions
        expiresAt:
          type: number
          nullable: true
        lastFour:
          type: string
          maxLength: 4
          description: Last 4 characters of the key (only when fetching by id)
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        apiKey:
          type: string
          description: Full key value; only present on create or regenerate
    ApiKeyListResponse:
      type: object
      properties:
        apiKeys:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              userId:
                type: string
              type:
                type: string
              provider:
                type: string
                description: Display name of the API key
              scope:
                type: string
                nullable: true
                description: Comma-separated permissions
              expiresAt:
                type: number
                nullable: true
              lastFour:
                type: string
                maxLength: 4
                description: Last 4 characters of the key (only when fetching by id)
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              apiKey:
                type: string
                description: Full key value; only present on create or regenerate
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
          required:
            - page
            - limit
            - total
            - totalPages
      required:
        - apiKeys
        - pagination
    ApiKeyStatsDto:
      type: object
      properties:
        total:
          type: number
        active:
          type: number
        expired:
          type: number
        recentlyUsed:
          type: number
      required:
        - total
        - active
        - expired
        - recentlyUsed
    WidgetDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        dashboardId:
          type: string
        type:
          type: string
        title:
          type: string
        dataSource:
          type: object
          nullable: true
          additionalProperties:
            nullable: true
        settings:
          type: object
          nullable: true
          additionalProperties:
            nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
    DashboardDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        layout:
          type: object
          additionalProperties:
            nullable: true
        createdBy:
          type: string
        companyId:
          type: string
          format: uuid
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        widgets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              dashboardId:
                type: string
              type:
                type: string
              title:
                type: string
              dataSource:
                type: object
                nullable: true
                additionalProperties:
                  nullable: true
              settings:
                type: object
                nullable: true
                additionalProperties:
                  nullable: true
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
    DashboardListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
              description:
                type: string
                nullable: true
              layout:
                type: object
                additionalProperties:
                  nullable: true
              createdBy:
                type: string
              companyId:
                type: string
                format: uuid
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              widgets:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    dashboardId:
                      type: string
                    type:
                      type: string
                    title:
                      type: string
                    dataSource:
                      type: object
                      nullable: true
                      additionalProperties:
                        nullable: true
                    settings:
                      type: object
                      nullable: true
                      additionalProperties:
                        nullable: true
                    createdAt:
                      type: string
                      nullable: true
                    updatedAt:
                      type: string
                      nullable: true
    ListDocumentationNodesQuery:
      type: object
      properties:
        serviceId:
          type: string
          format: uuid
          description: Filter by service ID
        company:
          type: string
          enum: &a35
            - "true"
          description: If true, return all company nodes
    CreateDocumentationNodeInput:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        content:
          type: string
        serviceId:
          type: string
          format: uuid
        parentId:
          type: string
          nullable: true
          format: uuid
        order:
          type: number
      required:
        - title
    UpdateDocumentationNodeInput:
      type: object
      properties:
        id:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
          maxLength: 500
        content:
          type: string
        parentId:
          type: string
          nullable: true
          format: uuid
        order:
          type: number
      required:
        - id
    DocumentationNodeDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        content:
          type: string
          nullable: true
        serviceId:
          type: string
          nullable: true
          format: uuid
        parentId:
          type: string
          nullable: true
          format: uuid
        order:
          type: number
        createdBy:
          type: string
        updatedBy:
          type: string
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        children:
          type: array
          items:
            nullable: true
          description: Child nodes (recursive)
        service:
          type: object
          additionalProperties:
            nullable: true
      required:
        - id
    DocumentationNodeListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              title:
                type: string
              content:
                type: string
                nullable: true
              serviceId:
                type: string
                nullable: true
                format: uuid
              parentId:
                type: string
                nullable: true
                format: uuid
              order:
                type: number
              createdBy:
                type: string
              updatedBy:
                type: string
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
              children:
                type: array
                items:
                  nullable: true
                description: Child nodes (recursive)
              service:
                type: object
                additionalProperties:
                  nullable: true
            required:
              - id
    CreateEmailSenderIdentityInput:
      type: object
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 200
        fromName:
          type: string
          minLength: 1
          maxLength: 200
        fromEmail:
          type: string
          format: email
        type:
          type: string
          enum: &a36
            - TENANT
            - SYSTEM
        isDefault:
          type: boolean
        gmailIntegrationConnectionId:
          type: string
          nullable: true
          format: uuid
      required:
        - label
        - fromName
        - fromEmail
    UpdateEmailSenderIdentityInput:
      type: object
      properties:
        label:
          type: string
          minLength: 1
          maxLength: 200
        fromName:
          type: string
          minLength: 1
          maxLength: 200
        fromEmail:
          type: string
          format: email
        type:
          type: string
          enum: &a37
            - TENANT
            - SYSTEM
        isDefault:
          type: boolean
        isVerified:
          type: boolean
        gmailIntegrationConnectionId:
          type: string
          nullable: true
          format: uuid
    EmailSenderIdentityDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        label:
          type: string
        fromName:
          type: string
        fromEmail:
          type: string
        type:
          type: string
          enum: &a6
            - TENANT
            - SYSTEM
        isDefault:
          type: boolean
        isVerified:
          type: boolean
        gmailIntegrationConnectionId:
          type: string
          nullable: true
          format: uuid
        gmailAccountEmail:
          type: string
          nullable: true
          description: Enriched from Gmail integration when linked
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
      required:
        - id
        - companyId
        - label
        - fromName
        - fromEmail
        - type
        - isDefault
        - isVerified
    EmailSenderIdentityListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              companyId:
                type: string
                format: uuid
              label:
                type: string
              fromName:
                type: string
              fromEmail:
                type: string
              type:
                type: string
                enum: *a6
              isDefault:
                type: boolean
              isVerified:
                type: boolean
              gmailIntegrationConnectionId:
                type: string
                nullable: true
                format: uuid
              gmailAccountEmail:
                type: string
                nullable: true
                description: Enriched from Gmail integration when linked
              createdAt:
                type: string
                nullable: true
              updatedAt:
                type: string
                nullable: true
            required:
              - id
              - companyId
              - label
              - fromName
              - fromEmail
              - type
              - isDefault
              - isVerified
      required:
        - data
    ProfileDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        apiName:
          type: string
        email:
          type: string
        phone:
          type: string
          nullable: true
        status:
          type: string
        recordImage:
          type: string
          nullable: true
        type:
          type: string
        onboarded:
          type: boolean
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        deletedAt:
          type: string
          nullable: true
      required:
        - id
        - name
        - apiName
        - email
    ProfileByIdResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            apiName:
              type: string
            email:
              type: string
            phone:
              type: string
              nullable: true
            status:
              type: string
            recordImage:
              type: string
              nullable: true
            type:
              type: string
            onboarded:
              type: boolean
            createdAt:
              type: string
              nullable: true
            updatedAt:
              type: string
              nullable: true
            deletedAt:
              type: string
              nullable: true
          required:
            - id
            - name
            - apiName
            - email
      required:
        - data
    ProfileIdQuery:
      type: object
      properties:
        companyId:
          type: string
          format: uuid
          description: Company ID; must match authenticated company
      required:
        - companyId
    ProfileIdResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            profileId:
              type: string
              nullable: true
          required:
            - profileId
      required:
        - data
    OfferingFromServiceQuery:
      type: object
      properties:
        serviceRecordId:
          type: string
          format: uuid
          description: Service record ID
      required:
        - serviceRecordId
    ListServiceItemsQuery:
      type: object
      properties:
        includeDeleted:
          type: string
          enum: &a38
            - "true"
            - "false"
          description: Include soft-deleted items
    CreateServiceItemInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        basePrice:
          type: number
          minimum: 0
        apiName:
          type: string
          maxLength: 100
      required:
        - name
    UpdateServiceItemInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type: string
          maxLength: 1000
        basePrice:
          type: number
          minimum: 0
    ServiceItemDto:
      type: object
      properties:
        id:
          type: string
          format: uuid
        companyId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        basePrice:
          type: number
          nullable: true
        apiName:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        updatedAt:
          type: string
          nullable: true
        deletedAt:
          type: string
          nullable: true
      required:
        - id
    ServiceItemListResponse:
      type: object
[...]
